################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates.
# Fiserv is a trademark of Fiserv, Inc.,
# registered or used in the United States and foreign countries,
# and may or may not be registered in your country.
# All trademarks, service marks,
# and trade names referenced in this
# material are the property of their
# respective owners. This work, including its contents
# and programming, is confidential and its use
# is strictly limited. This work is furnished only
# for use by duly authorized licensees of Fiserv, Inc.
# or its affiliates, and their designated agents
# or employees responsible for installation or
# operation of the products. Any other use,
# duplication, or dissemination without the
# prior written consent of Fiserv, Inc.
# or its affiliates is strictly prohibited.
# Except as specified by the agreement under
# which the materials are furnished, Fiserv, Inc.
# and its affiliates do not accept any liabilities
# with respect to the information contained herein
# and are not responsible for any direct, indirect,
# special, consequential or exemplary damages
# resulting from the use of this information.
# No warranties, either express or implied,
# are granted or extended by this work or
# the delivery of this work
################################################################################

openapi: 3.0.2
info:
  title: UMM Inquiry Service.
  description: GrpahQL API to retrieve Merchant's information using Merchant ID.
  version: 1.0.0_South
servers:
  - url: https://connect.fiservapis.com/unifiedmerchantmaster/
paths:
  /graphql/getMerchant:
    post:
      tags:
        - merchant-open-api
      operationId: getMerchant
      x-group-name: Inquiry
      x-proxy-name: getMerchant
      x-child-product-name: Merchants
      x-core: South

      summary: GrpahQL API to retrieve Merchant's information using Merchant ID.

      parameters:
        - name: merchantId
          in: query
          description: Merchant Id
          required: true
          schema:
            type: string
            description: Merchant Id
        - name: platform
          in: query
          description: Platform Code
          required: true
          schema:
            type: string
            description: Platform Code
        - name: effectiveDate
          in: query
          description: Effective Date
          required: false
          schema:
            type: string
            description: Effective Date
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryBody'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/graphql-response+json:
              schema:
                $ref: '#/components/schemas/SOUTH'
            '*/*':
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Address:
      type: object
      properties:
        merchantId:
          type: string
        platformCode:
          type: string
          enum:
            - NORTH
            - OMAHA
            - SOUTH
        effectiveStartDate:
          type: string
          format: date
        effectiveEndDate:
          type: string
          format: date
        addressTypeCode:
          type: string
          enum:
            - LOCATION
            - CORPORATE
            - MSIP_LOCATION
            - MSIP_CORPORATE
        contactName:
          type: string
        contactTitle:
          type: string
        address1Text:
          type: string
        address2Text:
          type: string
        address3Text:
          type: string
        address4Text:
          type: string
        address5Text:
          type: string
        city:
          type: string
        stateCode:
          type: string
        stateName:
          type: string
        countryCode:
          type: string
        postalCode:
          type: string
        countyCode:
          type: string
        countyName:
          type: string
        businessPhone:
          type: string
        mobile:
          type: string
        fax:
          type: string
        emailAddress:
          type: string
        deliveryMethod:
          type: string
    SOUTH:
      type: object
      properties:
        merchantId:
          type: string
        platformCode:
          type: string
          enum:
            - SOUTH
        setupIndicator:
          type: string
        effectiveStartDate:
          type: string
          format: date
        effectiveEndDate:
          type: string
          format: date
        dbaName:
          type: string
        legalName:
          type: string
        businessUrl:
          type: string
        hierarchyLevelCode:
          type: string
        storeId:
          type: string
        taxFilingName:
          type: string
        businessTypCode:
          type: string
        merchantCategoryCode:
          type: string
        standardIndustryClassCode:
          type: string
        productsSold:
          type: string
        statusCode:
          type: string
        acctOpenDate:
          type: string
          format: date
        acctSubmitDate:
          type: string
          format: date
        lastStatusChangedDate:
          type: string
          format: date
        lastStatusCode:
          type: string
        acctCloseDate:
          type: string
          format: date
        closeReasonCode:
          type: string
        franchiseIndicator:
          type: string
        seasonalIndicator:
          type: string
        salesmanCode:
          type: string
        relationshipMgrCode:
          type: string
        markerBankCode:
          type: string
        clearingBankCode:
          type: string
        businessStartDate:
          type: string
          format: date
        pricingTypeCode:
          type: string
        taxIdTypeCode:
          type: string
        taxId:
          type: string
        intlTaxExemptIndicator:
          type: string
        annualCardAmount:
          type: number
        businessTimeZone:
          type: string
        languageCode:
          type: string
        multiCurrencyIndicator:
          type: string
        createdBy:
          type: string
        modifiedBy:
          type: string
        owners:
          type: array
          items:
            $ref: '#/components/schemas/Owner'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        products:
          $ref: '#/components/schemas/MerchantProduct'
#        merchantAttributes:
#          type: object
#          additionalProperties:
#            type: object
        merchantBusinessInformation:
          $ref: '#/components/schemas/MerchantBusinessInformation'
        merchantHierarchies:
          type: array
          items:
            $ref: '#/components/schemas/MerchantHierarchies'
        merchantXrefs:
          type: array
          items:
            $ref: '#/components/schemas/MerchantXref'
        merchantAccounts:
          type: array
          items:
            $ref: '#/components/schemas/MerchantAccount'
        merchantIrsDetails:
          $ref: '#/components/schemas/MerchantIrsTax'
        subPlatformCode:
          type: string
        corporateName:
          type: string
    MerchantAccount:
      type: object
      properties:
        merchantId:
          type: string
        platformCode:
          type: string
        effectiveStartDate:
          type: string
          format: date
        accountUsageCode:
          type: string
          enum:
            - FUNDING
            - LEASING
        effectiveEndDate:
          type: string
          format: date
        sequenceNumber:
          type: integer
          format: int64
        recordType:
          type: string
        billingLevel:
          type: string
        routingNumber:
          type: string
        accountNumber:
          type: string
        nameOnAccount:
          type: string
        bankName:
          type: string
        accountEffectiveDate:
          type: string
          format: date
        receiverCountry:
          type: string
        phoneNumber:
          type: string
        contactName:
          type: string
        paymentReference:
          type: string
        iban:
          type: string
        correspondentBankNo:
          type: string
        paymentFormatId:
          type: string
        clearingEntity:
          type: string
        paymentDelayDays:
          type: integer
          format: int32
        currencyCode:
          type: string
        bankReference:
          type: string
        correspondentBankAccount:
          type: string
        bankFundingFileCode:
          type: string
        bankCity:
          type: string
        bankAccountType:
          type: string
    MerchantBusinessInformation:
      type: object
      properties:
        effectiveEndDate:
          type: string
          format: date
        legalContactName:
          type: string
        legalEntityTypeCode:
          type: string
        legalContactTitle:
          type: string
        customerServicePhoneNumber:
          type: string
        locationStartDate:
          type: string
          format: date
        activationDate:
          type: string
          format: date
        estimatedFirstProcessDate:
          type: string
          format: date
        firstCancelDate:
          type: string
          format: date
        lastCancelDate:
          type: string
          format: date
        lastSettleDate:
          type: string
          format: date
        electronicSigIndicator:
          type: string
        residentStatusCode:
          type: string
        registrationNumber:
          type: string
        salesTaxExemptIndicator:
          type: string
        thirdPartyProcessorCode:
          type: string
        periodicReviewIndicator:
          type: string
        annualSalesAmount:
          type: number
        averageTicketAmount:
          type: number
        highestTicketAmount:
          type: number
        largeTicketPurchaseIndicator:
          type: string
        mailOrderPercent:
          type: number
        phoneOrderPercent:
          type: number
        posOrderPercent:
          type: number
        swipedPercent:
          type: number
        keyedPercent:
          type: number
        salesChannelId:
          type: string
        salesLeadTrackingNo:
          type: string
        accountSignedDate:
          type: string
          format: date
        accountApprovalDate:
          type: string
          format: date
        quasiCashIndicator:
          type: string
        internetOrderPercent:
          type: number
        firstActivityDate:
          type: string
          format: date
        thirdPartyProcessorName:
          type: string
        del0To7DayPercent:
          type: number
        del8To14DayPercent:
          type: number
        del15To30DayPercent:
          type: number
        del30PlusDayPercent:
          type: number
    MerchantHierarchies:
      type: object
      properties:
        hierarchyLevelCode:
          type: string
        hierarchySeq:
          type: integer
          format: int64
        hierarchyName:
          type: string
        hierarchyMerchantId:
          type: string
    MerchantIrsTax:
      type: object
      properties:
        effectiveEndDate:
          type: string
          format: date
        exclusionCode:
          type: string
        irsTinValidationCode:
          type: string
        tinValidationDate:
          type: string
          format: date
        payeeId:
          type: string
        payeeCode:
          type: string
        cp2100NoticeReceivedDate:
          type: string
          format: date
        cp2100NoticeEffectiveDate:
          type: string
          format: date
        withHoldingCode:
          type: string
        withholdingNotificationCode:
          type: string
        withholdingNotificationDate:
          type: string
          format: date
        withHoldingReasonCode:
          type: string
        withHoldingEffectiveDate:
          type: string
          format: date
        withHoldingEndDate:
          type: string
          format: date
        fedWithHoldingPercent:
          type: number
        stateWithHoldingPercent:
          type: number
        formCertStatusCode:
          type: string
        formCertStatusReceivedDate:
          type: string
          format: date
        turfEffectiveDate:
          type: string
          format: date
        turfReasonCode:
          type: string
        turfUpdateDate:
          type: string
          format: date
        taxEffectiveYear:
          type: string
        timsAccountNumber:
          type: string
        payeeDefaultIndicator:
          type: string
        taxPayIndicator:
          type: string
    MerchantProduct:
      type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        valueAddedServices:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        fees:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        equipments:
          type: array
          items:
            $ref: '#/components/schemas/Product'
    MerchantXref:
      type: object
      properties:
        xrefPlatformMid:
          type: string
        xrefPlatformCode:
          type: string
        primarySecurityCode:
          type: string
        alliancePlatformCode:
          type: string
        xrefCorrespondenceIndicator:
          type: string
    Owner:
      type: object
      properties:
        merchantId:
          type: string
        platformCode:
          type: string
          enum:
            - NORTH
            - OMAHA
            - SOUTH
        effectiveStartDate:
          type: string
          format: date
        effectiveEndDate:
          type: string
          format: date
        ownerSeqCode:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        title:
          type: string
        address1Text:
          type: string
        address2Text:
          type: string
        address3Text:
          type: string
        address4Text:
          type: string
        address5Text:
          type: string
        city:
          type: string
        stateCode:
          type: string
        countryCode:
          type: string
        postalCode:
          type: string
        countyCode:
          type: string
        countyName:
          type: string
        mobile:
          type: string
        fax:
          type: string
        signerIndicator:
          type: string
        guarantorIndicator:
          type: string
        birthDate:
          type: string
          format: date
        yearsAtAddress:
          type: integer
          format: int64
        emailAddress:
          type: string
        ownershipPercent:
          type: integer
          format: int32
        mobileValidationStatus:
          type: string
        mobileValidationSourceCode:
          type: string
        mobileValidationDate:
          type: string
          format: date
        ownerIdentificationDetails:
          type: array
          items:
            $ref: '#/components/schemas/OwnerIdentification'
        phoneNumber:
          type: string
    OwnerIdentification:
      type: object
      properties:
        identityDocTypeCode:
          type: string
        identityDocNumber:
          type: string
    Product:
      type: object
      properties:
        productCode:
          type: string
        subCategory:
          type: string
        productShortDesc:
          type: string
        productLongDesc:
          type: string
        lineNumber:
          type: integer
          format: int64
        parentLineNumber:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        feeTableId:
          type: integer
          format: int64
        isActive:
          type: string
        uniqueIdentifier:
          type: string
        uniqueId:
          type: string
        equipmentId:
          type: string
        purchaseType:
          type: string
        wholesaleCharge:
          type: number
        retailCharge:
          type: number
        terminalFrontEnds:
          type: array
          items:
            $ref: '#/components/schemas/ProductEquipmentTerminalFrontEndsRes'
        attributes:
          type: object
          additionalProperties:
            type: object
        productAssociation:
          $ref: '#/components/schemas/ProductAssociation'
        wholesaleAmountOrPercent:
          type: number
        retailAmountOrPercent:
          type: number
        feeTypeCode:
          type: string
        equipmentCategory:
          type: string
        parentEquipmentId:
          type: string
        serialNumber:
          type: string
        frontend:
          type: string
        terminalId:
          type: string
        frontendMid:
          type: string
        partNumber:
          type: string
        maintenanceCharge:
          type: number
        leaseTerm:
          type: integer
          format: int64
        totalCost:
          type: number
    ProductAssociation:
      type: object
      properties:
        category:
          type: string
        productCode:
          type: string
        description:
          type: string
    ProductEquipmentTerminalFrontEndsRes:
      type: object
      properties:
        frontEnd:
          type: string
        terminalId:
          type: string
        frontEndMid:
          type: string
    Error:
      type: object
      properties:
        errorCode:
          type: integer
          format: int32
        errorMessage:
          type: string
        httpStatusCode:
          type: string
          enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 EARLY_HINTS
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
        rawExceptionMessage:
          type: string
        errorSource:
          type: string
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    InquiryBody:
      required:
        - operationName
        - query
      type: object
      properties:
        operationName:
          type: string
          description: Operation Name
          enum:
            - inquiry
        query:
          type: string
          description: query
          example: "query inquiry($merchantId: String!, $platformCode: String!) {\\\
            n  getMerchant(merchantId: $merchantId, platformCode: $platformCode) {\\\
            n dbaName\\n  platformCode\\n}\\n}"
      description: Merchant Details
