openapi: 3.0.1
info:
  title: UMM GraphQL
  description: Unified API to retrieve/update Merchant's information
  version: 1.0.0
servers:
- url: https://connect.fiservapis.com/unifiedmerchantmaster
paths:
  /graphql:
    post:
      tags:
      - Merchant Inquiry
      summary: GraphQL API to retrieve Merchant's information. Additional filtering
        can be perfomed based on certain parameter as shown in the provided request
        sample
      description: |
        ⚠ All APIs are POST ⚠ Unless explicitly mentioned, fields are applicable for all Platforms
      operationId: getMerchant
      parameters:
      - name: merchantId
        in: query
        required: true
        schema:
          maxLength: 50
          minLength: 7
          type: string
          description: |
            Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database
            > For more details refer to <a href="../docs?path=docs/specification/merchant/north.md&branch=develop#base-properties">`NORTH`</a>/<a href="../docs?path=docs/specification/merchant/omnipay26.md&branch=develop#base-properties">`OMNIPAY26`</a> definition
      - name: platformCode
        in: query
        required: true
        schema:
          type: string
          description: Code to identify the specific backend platform. It adds the
            required information for the merchant
          enum:
          - NORTH
          - OMAHA
          - SOUTH
          - OMNIPAY26
          - OMNIPAY21
      - name: effectiveDate
        in: query
        description: Effective date from when the user can start fetching the snapshot
          data for a particular merchant and platform using UMM DB
        required: false
        schema:
          type: string
          description: Effective date from when the user can start fetching the snapshot
            data for a particular merchant and platform using UMM DB
          format: yyyy-MM-dd
          example: 2024-06-06
        example: 2024-06-06
      - name: Authorization
        in: header
        description: Bearer access token
        required: true
        schema:
          type: string
        example: "Bearer {token}"
      - name: x-encrypted-data
        in: header
        description: Use to signify if data is encrypted
        required: false
        schema:
          type: string
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMerchant'
      x-proxy-name: graphql
      x-group-name: Inquiry
      x-core: UMM
      x-child-product-name: Merchants
components:
  schemas:
    InquiryRequest:
      required:
      - query
      type: object
      properties:
        query:
          type: string
          description: |
            Sample merchant inquiry query
            ```
            query inquiry {
              getMerchant(merchantId: "12345678901", platformCode: NORTH) {
                ... on Merchant {
                  merchantId
                  platformCode
                  dbaName
                  addresses {
                    addressTypeCode (filterByAddressType:[LOCATION])
                    contactName
                    contactTitle
                    address1Text
                  }
                }
              }
            }
            ```
      description: Merchant Inquiry Request
    Address:
      type: object
      properties:
        addressTypeCode:
          type: string
          readOnly: true
          enum:
          - LOCATION
          - CORPORATE
          - MSIP_LOCATION
          - MSIP_CORPORATE
          - DISPUTE_ADDRESS
          - HEAD_OFFICE
          - LEGAL
          - BENEFICIARY
          - BUSINESS_MANAGER
        contactName:
          maxLength: 80
          minLength: 30
          type: string
        contactTitle:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        address1Text:
          maxLength: 150
          minLength: 10
          type: string
          description: "First line of the merchant's physical address. Typically building\
            \ number, street name and any additional relevant address details"
        address2Text:
          maxLength: 150
          minLength: 10
          type: string
          description: Second line of the merchant's physical address. Captures additional
            details that complement the first line
        address3Text:
          maxLength: 150
          minLength: 10
          type: string
          description: Third line of the merchant's physical address for additional
            address details
        address4Text:
          maxLength: 150
          minLength: 10
          type: string
          description: Fourth line of the merchant's physical address for additional
            address details
        address5Text:
          maxLength: 150
          minLength: 10
          type: string
          description: Fifth line of the merchant's physical address for additional
            address details
        city:
          maxLength: 100
          minLength: 10
          type: string
          description: Name of the city where the merchant is located
        stateCode:
          maxLength: 10
          minLength: 3
          type: string
          description: State code for US or Canada where the merchant is located
        stateName:
          type: string
          description: State name for US or Canada where the merchant is located
        countryCode:
          maxLength: 3
          minLength: 2
          type: string
          description: Country code for where the merchant is located
        postalCode:
          maxLength: 20
          minLength: 5
          type: string
          description: Postal code where the merchant is located
        countyCode:
          maxLength: 50
          type: string
          description: County code where the merchant is located
        countyName:
          maxLength: 100
          type: string
          description: County name where the merchant is located
        businessPhone:
          maxLength: 15
          minLength: 10
          type: string
          description: Phone number of the principal owner of the business
        mobile:
          maxLength: 15
          minLength: 10
          type: string
          description: Mobile number of the principal owner of the business
        fax:
          type: string
        emailAddress:
          maxLength: 320
          minLength: 70
          type: string
          description: E-mail address of the merchant
        deliveryMethod:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
    Error:
      type: object
      properties:
        errorCode:
          type: integer
          format: int32
        errorMessage:
          type: string
        httpStatusCode:
          type: string
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 EARLY_HINTS
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        rawExceptionMessage:
          type: string
        errorSource:
          type: string
    Merchant:
      required:
      - merchantId
      - platformCode
      type: object
      properties:
        merchantId:
          maxLength: 50
          minLength: 7
          type: string
          description: |
            Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database
            > For more details refer to <a href="../docs?path=docs/specification/merchant/north.md&branch=develop#base-properties">`NORTH`</a>/<a href="../docs?path=docs/specification/merchant/omnipay26.md&branch=develop#base-properties">`OMNIPAY26`</a> definition
        platformCode:
          type: string
          description: Code to identify the specific backend platform. It adds the
            required information for the merchant
          enum:
          - NORTH
          - OMAHA
          - SOUTH
          - OMNIPAY26
          - OMNIPAY21
        setupIndicator:
          type: string
        dbaName:
          maxLength: 40
          minLength: 10
          type: string
          description: Official merchant name that the customer or authorities commonly
            recognizes
        legalName:
          maxLength: 18
          minLength: 6
          type: string
          description: |-
            Legal or official name of a merchant that is registered with government tax authorities.
            > Note: It must be entered exactly same as it apears in the legal tax documents for the merchant
        businessUrl:
          maxLength: 240
          minLength: 34
          type: string
          description: |-
            Official website address (URL) associated with the merchant.
            > Note: The URL should be complete and accurate and it should start with the protocol (http:// or https://)
        hierarchyLevelCode:
          type: string
          description: Unique identifier assigned to an outlet or a specific level
            within a hierarchical structure of a merchant's business
          readOnly: true
        storeId:
          maxLength: 10
          minLength: 1
          type: string
          description: Unique identifier of the merchant's store
        taxFilingName:
          maxLength: 100
          minLength: 20
          type: string
          description: Name that the merchant uses to file the taxes with the relevant
            tax authorities
        businessTypCode:
          maxLength: 10
          minLength: 6
          type: string
          description: |-
            Code to/that indicate whether merchant can process payment in store or online
            > Note: The following values indicate:
            > - __MOTO_ECOMM__: Online payment method
            > - __RETAIL__: In store payment method
          enum:
          - MOTO_ECOMM
          - RETAIL
        merchantCategoryCode:
          maxLength: 4
          minLength: 4
          type: string
          description: Code to/that indicate the type of business
        standardIndustryClassCode:
          maxLength: 4
          minLength: 4
          type: string
          description: |-
            Code to/that indicate the classification of MC/VISA standard industry
            > Note: The code list is available upon request only
        productsSold:
          type: string
          readOnly: true
        statusCode:
          maxLength: 18
          minLength: 6
          type: string
          description: |-
            Code that indicate the status of a merchant
            > Example:
            > - __PENDING__ : Pending Credit Approval
            > - __CANCELLED_FRAUD__ : Cancelled Due to Fraud
            > - __ACTIVE__ : Active - Monthly Stmt
            > - __CANCELLED_CREDIT__ : Cancelled By Credit
            > - __CANCELLED_MERCHANT__ : Cancelled By Merchant
          enum:
          - ACTIVE
          - CANCELLED_CREDIT
          - CANCELLED_FRAUD
          - CANCELLED_MERCHANT
          - PENDING
        acctOpenDate:
          type: string
          description: |-
            Date on which the merchant account was opened
            > Note: It can include a time component if required
          format: date
        acctSubmitDate:
          type: string
          description: Date on which the account was submitted
          format: date
          readOnly: true
        lastStatusChangedDate:
          type: string
          description: Date on which the last status of the merchant account was changed
          format: date
          readOnly: true
        lastStatusCode:
          maxLength: 18
          minLength: 6
          type: string
          description: Code to indicate the last status of the merchant account before
            a recent update
        acctCloseDate:
          type: string
          description: Date on which the account was closed
          format: date
        closeReasonCode:
          maxLength: 30
          minLength: 3
          type: string
          description: Code to/that indicate the reason of merchant account closure
          enum:
          - 2009_PRICE_INCREASE
          - BUSINESS_CLOSED
          - CD_AG_SVC_SEASONAL_LOW
          - CD_HI_RISK_BANKRUPTCY
          - CD_IN_BS_AC_INACT_O
          - CD_IN_BS_CHECKING
          - CD_IN_BS_COLLECT_PR
          - CD_IN_BS_IN_LITIGATION
          - CD_IN_BS_NEW_OWNERSHIP
          - CD_IN_BS_NO_PY_OF_R
          - CD_IN_BS_RFS_TO_PY_C
          - CD_IN_BS_XCS_STATEMENT_FEE
          - CD_OUT_BS_AC_INACT_O
          - CD_OUT_BS_CANT_CONTACT
          - CD_OUT_BS_CHECKING_ACCT
          - CD_OUT_BUSINESS_CLOSE
          - CEASED_TRADING
          - CHANGE_LEGAL_ENTITY_OR_OWNER
          - CLOSED_COLL_NO_REOPEN
          - CLOSED_CREDIT_NO_REOPEN
          - COMPETITOR_FEES
          - COMPETITOR_NEW_PRDCT
          - COMPETITOR_SERVICE
          - COMPETITR_PROPSITION
          - CUST_SERVICE
          - DATA_CLEANUP
          - DDA_ACCT_CLOSED
          - DEROGATORY
          - DISSATISFIED_WITH_FEES
          - DOESNOT_MEET_SETTLEMENT_REQ
          - DONT_REOPEN_CONVERTED
          - DORMANCY
          - DUPLICATE_ACCT
          - END_OF_TERM
          - FRAUD_OR_BAD_DEBIT
          - IR2005_PRICE_INCREASE
          - IR_AGENT_CONVERSATION_DAILY
          - IR_AGENT_EQUIPMENT_NT_COMPAT
          - IR_AGENT_INSTALL_DAILY
          - IR_AGENT_SERVICE_DEFAULTED_ON
          - IR_AGENT_STY_W_CUR_PRC
          - IR_AGENT_SVC_LEAS_DESC
          - IR_AGENT_SVC_MISREP_APP
          - IR_AGENT_SVC_MISREP_FEE
          - IR_AGENT_SVC_NON_INSTL
          - IR_AGENT_SVC_TMP_CLOSR
          - IR_AGT_SERVICE_AGENT_FRAUD
          - IR_AVG_SV_REFUS_INST
          - IR_CSI_BANKRUPTCY
          - IR_CSI_CHK_GUAR_DECLINE
          - IR_CSI_LOST_OR_STOLEN_TERMINAL
          - IR_CSI_POOR_SERVICE
          - IR_CSI_SS_NUM_MISMATCH
          - IR_CSI_SVC_DSC_CD_RP
          - IR_CSI_SVC_DSC_CS_RP
          - IR_CSI_SVC_DSC_LP_RP
          - IR_CSI_SVC_DSC_RM_RP
          - IR_CSI_SVC_EQUIPMENT_TEC
          - IR_CSI_UBL_TO_CT_MER
          - IR_DEATH
          - IR_IN_BS_FEES_NT_CMP
          - IR_IN_BS_FRN_CHSE_DI
          - IR_IN_BS_RT_INC_LOW
          - IR_IN_BS_R_INC_CS_F
          - IR_IN_BS_SLD_BS_NEW
          - IR_OUT_BUSINESS_CLOSE
          - IR_PND_INFO_SLS_SUPT
          - IR_SALES_REP_FRAUD
          - IR_SEASONAL_MERCHANT
          - LP_HI_RISK_AGENT_MISRPR
          - LP_HI_RISK_CASH_ADV
          - LP_HI_RISK_CLOSED_PR_WA
          - LP_HI_RISK_CLS_BANK
          - LP_HI_RISK_CNTRFT_PN
          - LP_HI_RISK_CONTRACT_VIOLATION
          - LP_HI_RISK_EXCESS_CHARGEBACK
          - LP_HI_RISK_FACTOR_PEND
          - LP_HI_RISK_ID_THEFT
          - LP_HI_RISK_INACURATE_ME1
          - LP_HI_RISK_INACURATE_ME2
          - LP_HI_RISK_INACURATE_ME3
          - LP_HI_RISK_MC_8_PCT_VIOLATION
          - LP_HI_RISK_MER_INTRNE
          - LP_HI_RISK_NO_ACTIVITY
          - LP_HI_RISK_PENDING_INVESTMENT
          - LP_HI_RISK_SECURITY_RISK
          - LP_HI_RISK_STL_CD_FRAUD
          - LP_HI_RISK_TMF_MATCH
          - LP_SALES_REP_FRAUD
          - MAPPED_AS_OPEN
          - MEDICAL_RELATED
          - MIGRATED_AGENT_BANK
          - MIGRATED_OVER_6_MON
          - NEVER_WANTED_ACCT
          - NONE
          - NOT_ACCEPT_MCVI
          - NO_ACTIVITY_ON_ACCT
          - NO_REASON
          - OWNERSHIP_CHANGE
          - PARTNERSHIP_SPLIT
          - PAYMENT_NETWORK_UPDATED
          - PCI_DSS_NON_COMPLIANT
          - PER_MERCHANT_LETTER
          - RATE_INCREASE_20XX
          - RA_DBA_CONTRACT_VIOLATION
          - RA_DBA_TEMP_CLOSED
          - REASON_UNKNOWN
          - REI
          - SALES_REP_PROBLEM
          - SERVICE_PROB_INV_REF
          - SERVICE_PROB_STM_FUN
          - SERVICE_PROB_TER_SYS
          - SHOULB_BE_CLOSED
          - SOLD_BUSINESS
          - SYS_RECORD
          - TERMINAL_COMPANY_PRDCT
          - TERMINAL_COMPANY_SVC
          - TEST_ACCT
          - USE_DIFF_PROCESSOR
        franchiseIndicator:
          maxLength: 3
          minLength: 3
          type: string
          description: Value that indicate the merchant is a franchise or not
          enum:
          - "YES"
          - "NO"
        seasonalIndicator:
          maxLength: 3
          minLength: 3
          type: string
          description: Value that indicate the merchat is a seasonal or not
          enum:
          - "YES"
          - "NO"
        salesmanCode:
          maxLength: 7
          minLength: 4
          type: string
          description: |-
            Code that indicate the salesman associated with a merchant
            > Note: The code list is available upon request only
        relationshipMgrCode:
          maxLength: 3
          minLength: 3
          type: string
          description: Code that indicate a relationship manager who is responsible
            for managing the merchant's account
        markerBankCode:
          maxLength: 10
          minLength: 3
          type: string
          description: Code that indicate the bank associated with a maker or client
        clearingBankCode:
          maxLength: 3
          minLength: 1
          type: string
          description: |-
            Code to/that indicate the clearing bank associated with a merchant
            > Note: The valid list is available on request only
        businessStartDate:
          type: string
          description: Date on which the business was started
          format: date
          readOnly: true
        pricingTypeCode:
          maxLength: 100
          minLength: 30
          type: string
          description: Code that indicate the pricing type for interchange calculations
          enum:
          - ACCT_FUNDING
          - AUTOMATED_FULEL_DISP
          - B2B_PURC_CARD
          - B2B_PUR_CARD_LEVEL3
          - BAR_CATERER_MOTO
          - BAR_CATERER_RETAIL
          - CAR
          - CAR_RENTAL_CNP
          - CASH_ADV
          - CHARITY
          - COMM_B2B_TAX_EXMP
          - COMM_CNP_TAX_EXMP
          - COMM_RETAL_TAX_EXMP
          - CONV_STORES
          - COURT_FINES_GOVT_SERV
          - DC_ACCT_FUNDING
          - DC_AOTOMATED_FUEL_DISP
          - DC_CAR
          - DC_CHARITY
          - DC_CONV_STORES
          - DC_COURT_FINE_GOVT_SERVICE
          - DC_ECOMM_BASIC
          - DC_ECOMM_PREF
          - DC_EMERGING_MARKET_GOVT_EDU
          - DC_EMERGIN_MKT
          - DC_FILL_UCAF
          - DC_HOTEL
          - DC_INS
          - DC_MOTO
          - DC_MOTO_NON_AVS
          - DC_PUBLIC_SECTOR
          - DC_QSR_THTR_TAXI_LIMO
          - DC_RESTAURANT
          - DC_RETAIL
          - DC_RETAIL_2
          - DC_RETAIL_OR_SMT
          - DC_SERVICE_STATION
          - DC_SMT
          - DC_SUPERMARKET
          - DC_UTILITY
          - DEC_RETAIL_KE
          - DEFAULT
          - ECOMM_BASIC
          - ECOMM_PREF
          - EDUCATIONAL_MOTO
          - EDUCATIONAL_RETAIL
          - EDUCATION_MOTO
          - EDU_MOTO
          - EDU_RETAIL
          - EMERGING_MARKET
          - EMERGING_MKT_GOVT_EDU
          - EPS_QPS_NO_AUTH
          - FUEL_DISP
          - FULL_UCAF
          - GU_ECOMM
          - GU_MOTO
          - GU_RETAIL
          - HC_MOTO
          - HC_RETAIL
          - HOTEL
          - HOTEL_CARRENTAL
          - INSURANCE
          - INTERNET
          - MERIT_1_DAYCARE
          - MOTO
          - MOTO_NO_AVS
          - PAPER
          - PR_EMERGING_MKT
          - PR_MOTO
          - PR_PETRO_AFD
          - PR_PETRO_SVC_STATION
          - PR_RETAIL
          - PR_SUPERMARKET
          - PR_T&E_CNP
          - PR_T&E_CP
          - PUBLIC_SECTOR
          - QSR_THEATER_SMT
          - QSR_THEATER_TAXI_LIMO
          - RECR_BILL_PAY
          - RESTAURANT
          - RETAIL
          - RETAIL_2
          - RETAIL_KEY_ENTRY1
          - RETAIL_KEY_ENTRY2
          - RETAIL_OR_SMT
          - RG_ACCT_FUNDING
          - RG_AUTOMATED_FUEL_DISP
          - RG_B2B_PRCH_CARD
          - RG_B2B_PRCH_CARD_LEVEL3
          - RG_CAR
          - RG_CASH_ADV
          - RG_CHARITY
          - RG_COMM_B2B_TAX_EXMP
          - RG_COMM_CNP_TAX_EXMP
          - RG_CONV_STORE
          - RG_COURT_FINE_GOVT_SERV
          - RG_DC_ACCT_FUNDING
          - RG_DC_AUTO_FUEL_DISP
          - RG_DC_CAR
          - RG_DC_CONV_STORE
          - RG_DC_COURT_FINE_GOVT_SERV
          - RG_DC_ECOMM_BASIC
          - RG_DC_ECOMM_PREF
          - RG_DC_EMERGING_MARKET
          - RG_DC_FULL_UCAF
          - RG_DC_HOTEL
          - RG_DC_INS
          - RG_DC_MOTO
          - RG_DC_MOTO_NON_AVS
          - RG_DC_PUBLIC_SECTOR
          - RG_DC_QSR_THTR_TAXI_LIMO
          - RG_DC_REST_OR_FAST_FOOD
          - RG_DC_RETAIL
          - RG_DC_RETAIL_2
          - RG_DC_RETAIL_KEY_ENTRY
          - RG_DC_RETAIL_OR_SMT
          - RG_DC_SERVICE_STATIONS
          - RG_DC_SMT
          - RG_DC_SUPERMARKET
          - RG_DC_UTILITY
          - RG_ECOMM_BASIC
          - RG_ECOMM_PREF
          - RG_EMERGING_MARKET
          - RG_FULL_UCAF
          - RG_HOTEL
          - RG_INS
          - RG_MOTO
          - RG_MOTO_NON_AVS
          - RG_PAPER
          - RG_PUBLIC_SECTOR
          - RG_QSR_THTR_TAXI_LIMO
          - RG_REATIL_OR_SMT
          - RG_REST_OR_FAST_FOOD
          - RG_RETAIL
          - RG_RETAIL_2
          - RG_RETAIL_KEY_ENTRY
          - RG_SERVICE_STATIONS
          - RG_SMT
          - RG_SUPERMARKET
          - RG_UTILITY
          - RH_COMM_RETAIL_TAX_EXMP
          - SERVICE_STATION
          - SMALL_TICKET
          - SUPERMARKET
          - T&E_MOTO
          - T&E_RETAIL
          - UTILITY
          - VI_ECOMM
          - VI_MOTO
          - VI_RETAIL
        taxIdTypeCode:
          maxLength: 7
          minLength: 3
          type: string
          description: Code that indicate the type of tax identifier
          enum:
          - EIN
          - REFUSED
          - SSN
          - OTHER
        taxId:
          maxLength: 9
          type: string
          description: Unique identifier of the merchant tax
        intlTaxExemptIndicator:
          maxLength: 3
          minLength: 2
          type: string
          description: Value that indicate the international tax exempt is applicable
            to North MSIP
          enum:
          - "YES"
          - "NO"
        annualCardAmount:
          type: number
          description: Amount of the annual card in decimal format
          readOnly: true
        businessTimeZone:
          type: string
          readOnly: true
        languageCode:
          maxLength: 10
          minLength: 3
          type: string
          description: Code that indicate the language for communication with the
            merchant
        multiCurrencyIndicator:
          maxLength: 18
          minLength: 3
          type: string
          description: Value that indicate whether a merchant conducts currency conversion
            at the point of sale
          enum:
          - CURR_CONV
          - DCC_GMA
          - FOREIGN_PROCESSING
          - INDIA
          - GLOBAL_EPRICING
          - NO_CURR_CONV
          - TAI
        owners:
          type: array
          description: |
            > For more details refer to <a href="../docs?path=docs/specification/merchant/north.md&branch=develop#owners">`NORTH`</a> definition
          items:
            $ref: '#/components/schemas/Owner'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        products:
          $ref: '#/components/schemas/MerchantProduct'
        merchantAttributes:
          type: object
          additionalProperties:
            type: object
            description: |2
                Will contain one or more attributes in the format shown below
                > For additional information refer to <a href="../docs?path=docs/attribute/merchant/north.md">NORTH</a>/<a href="../docs?path=docs/attribute/merchant/omnipay26.md">OMNIPAY26</a> attributes definition
                ```
                {
                  "domain#1": {
                    "domainDescription": "domain #1 description",
                    "attribute#1": {
                      "attributeDescription": "attribute description",
                      "values": [ "some value" ]
                    },
                    "attribute#2": {
                      "attributeDescription": "attribute description",
                      "values": [ "some value" ]
                    }
                  },
                  "domain#2": {
                    "domainDescription": "domain #2 description",
                    "attribute#1": {
                      "attributeDescription": "attribute description",
                      "values": [ "some value" ]
                    }
                  }
                }
                ```
          description: |2
              Will contain one or more attributes in the format shown below
              > For additional information refer to <a href="../docs?path=docs/attribute/merchant/north.md">NORTH</a>/<a href="../docs?path=docs/attribute/merchant/omnipay26.md">OMNIPAY26</a> attributes definition
              ```
              {
                "domain#1": {
                  "domainDescription": "domain #1 description",
                  "attribute#1": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  },
                  "attribute#2": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  }
                },
                "domain#2": {
                  "domainDescription": "domain #2 description",
                  "attribute#1": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  }
                }
              }
              ```
        merchantBusinessInformation:
          $ref: '#/components/schemas/MerchantBusinessInformation'
        merchantHierarchies:
          type: array
          description: |
            > For more details refer to <a href="../docs?path=docs/specification/merchant/omnipay26.md&branch=develop#merchant-hierarchies">`OMNIPAY26`</a> definition
          items:
            $ref: '#/components/schemas/MerchantHierarchies'
        merchantXrefs:
          type: array
          items:
            $ref: '#/components/schemas/MerchantXref'
        merchantAccounts:
          type: array
          items:
            $ref: '#/components/schemas/MerchantAccount'
        merchantIrsDetails:
          $ref: '#/components/schemas/MerchantIrsTax'
        subPlatformCode:
          maxLength: 22
          minLength: 3
          type: string
          description: Code that indicate the alliance pratform
          enum:
          - BANK_OF_HAWAII
          - CORE_BUSINESS_RULES
          - FISERV_BAMS
          - FISERV_BANK_OF_AMERICA
          - FISERV_CHASE
          - HUNTINGTON
          - IPAYMENT
          - MSIP
          - NOVUS
          - PNC
          - RSA_PLATFORM_S
          - RSA_PLATFORM_T
          - SANTANDER
          - SUNTRUST_ONE
          - SUNTRUST_THREE
          - SUNTRUST_TWO
          - WALMART
          - WELLS_EAST
          - WELLS_WEST
        corporateName:
          maxLength: 24
          minLength: 10
          type: string
          description: Official name of the merchant as it appears in legal and corporate
            documents
    MerchantAccount:
      type: object
      properties:
        accountUsageCode:
          type: string
          description: Unique identifier assigned to a checking or current account.
            It distinguishs one account from another within a financial institution
          enum:
          - FUNDING
          - LEASING
          - VISA_PAR_PAYABLE
          - VISA_PAR_RECEIVABLE
          - MC_PAR_PAYABLE
          - MC_PAR_RECEIVABLE
          - AMEX_ADJUSTMENTS_PAYABLE
          - AMEX_ADJUSTMENTS_RECEIVABLE
          - VISA_ADJUSTMENTS_PAYABLE
          - VISA_ADJUSTMENTS_RECEIVABLE
          - FEE_COLLECT_PAYABLE
          - FEE_COLLECT_RECEIVABLE
          - SP_PAYMENT_PAYABLE
          - SP_PAYMENT_RECEIVABLE
          - FEE_HOLD_PAYABLE
          - FEE_HOLD_RECEIVABLE
          - AMEX_MERCH_PAYABLE
          - AMEX_MERCH_RECEIVABLE
          - MC_ADJUSTMENTS_PAYABLE
          - MC_ADJUSTMENTS_RECEIVABLE
          - APM_PAR_PAYABLE
          - APM_PAR_RECEIVABLE
          - WRITEOFF_ACQ_PAYABLE
          - WRITEOFF_ACQ_RECEIVABLE
          - WRITEOFF_SP_PAYABLE
          - WRITEOFF_SP_RECEIVABLE
          - FX_PI_CHARGEBACK_PAYABLE
          - FX_PI_CHARGEBACK_RECEIVABLE
          - INTERBANK_SUSP_VISA_PAYABLE
          - INTERBANK_SUSP_VISA_RECEIVABLE
          - REJECTS_ECCF_PAYABLE
          - REJECTS_ECCF_RECEIVABLE
          - REJECTS_VISA_PAYABLE
          - REJECTS_VISA_RECEIVABLE
          - REJECTS_INET_PAYABLE
          - REJECTS_INET_RECEIVABLE
          - FEE_COLL_ECCF_PAYABLE
          - FEE_COLL_ECCF_RECEIVABLE
          - FEE_COLL_VISA_PAYABLE
          - FEE_COLL_VISA_RECEIVABLE
          - FEE_COLL_INET_PAYABLE
          - FEE_COLL_INET_RECEIVABLE
          - REJECTS_IPM_PAYABLE
          - REJECTS_IPM_RECEIVABLE
          - FEE_COLL_IPM_PAYABLE
          - FEE_COLL_IPM_RECEIVABLE
          - MANUAL_ADJUSTMENTS_PAYABLE
          - MANUAL_ADJUSTMENTS_RECEIVABLE
          - FX_PL_CHARGEBACK_2_PAYABLE
          - FX_PL_CHARGEBACK_2_RECEIVABLE
          - MERCH_PYMT_REJECTS_PAYABLE
          - MERCH_PYMT_REJECTS_RECEIVABLE
          - ACQ_DISPUTE_TRANS_PAYABLE
          - ACQ_DISPUTE_TRANS_RECEIVABLE
          - INTERBANL_SUSPENSE_PAYABLE
          - INTERBANL_SUSPENSE_RECEIVABLE
          - REJECTED_DESC_PAYABLE
          - REJECTED_DESC_RECEIVABLE
          - INTEREST_RECEIVABLE_PAYABLE
          - INTEREST_RECEIVABLE_RECEIVABLE
          - REJECTED_SOURCE_PAYABLE
          - REJECTED_SOURCE_RECEIVABLE
          - MERCH_COMM_REVENUE_PAYABLE
          - MERCH_COMM_REVENUE_RECEIVABLE
          - ACQ_COMM_REVENUE_PAYABLE
          - ACQ_COMM_REVENUE_RECEIVABLE
          - TREASURY_PYMT_VISA_PAYABLE
          - TREASURY_PYMT_VISA_RECEIVABLE
          - TREASURY_PYMT_MC_PAYABLE
          - TREASURY_PYMT_MC_RECEIVABLE
          - TREASURY_PYMT_ALL_PAYABLE
          - TREASURY_PYMT_ALL_RECEIVABLE
          - TREASURY_PYMT_WELLS_PAYABLE
          - TREASURY_PYMT_WELLS_RECEIVABLE
          - TREASURY_PYMT_FDELGBP_PAYABLE
          - TREASURY_PYMT_FDELGBP_RECEIVABLE
          - TREASURY_PYMT_BASECAD_PAYABLE
          - TREASURY_PYMT_BASECAD_RECEIVABLE
          - TREASURY_PYMT_EUR_PAYABLE
          - TREASURY_PYMT_EUR_RECEIVABLE
          - TREASURY_PYMT_BAMS_PAYABLE
          - TREASURY_PYMT_BAMS_RECEIVABLE
          - PAR_PAYABLE
          - PAR_RECEIVABLE
          - PAYMENT_SUSPENSE_PAYABLE
          - PAYMENT_SUSPENSE_RECEIVABLE
          - FX_ROUNDING_DIFF_PAYABLE
          - FX_ROUNDING_DIFF_RECEIVABLE
          - MERCHANT_HOLD_PAYABLE
          - MERCHANT_HOLD_RECEIVABLE
          - VAT_HOLD_PAYABLE
          - VAT_HOLD_RECEIVABLE
          - MERCH_RESERVE_PAYABLE
          - MERCH_RESERVE_RECEIVABLE
          - FEXCO_COMM_REVENUE_PAYABLE
          - FEXCO_COMM_REVENUE_RECEIVABLE
          - JCB_MERCHANT_PAYABLE
          - JCB_MERCHANT_RECEIVABLE
          - MERCHANT_BILLBACK_PAYABLE
          - MERCHANT_BILLBACK_RECEIVABLE
          - INTERCHANGE_REJ_SUSP_PAYABLE
          - INTERCHANGE_REJ_SUSP_RECEIVABLE
          - GST_COLLECT_PAYABLE
          - GST_COLLECT_RECEIVABLE
          - TREASURY_PYMT_U_PAYABLE
          - TREASURY_PYMT_U_RECEIVABLE
          - DINERS_MERCHANT_PAYABLE
          - DINERS_MERCHANT_RECEIVABLE
          - PAGOBANCOMAT_PAYABLE
          - PAGOBANCOMAT_RECEIVABLE
          - MERC_ROLLIN_RESERVE_PAYABLE
          - MERC_ROLLIN_RESERVE_RECEIVABLE
          - ALTERNATIVE_PAYMENTS_PAYABLE
          - ALTERNATIVE_PAYMENTS_RECEIVABLE
          - PAR_HOLDING_PAYABLE
          - PAR_HOLDING_RECEIVABLE
          - PAR_DR_PAYABLE
          - PAR_DR_RECEIVABLE
          - FEDERAL_TAX_PAYABLE
          - FEDERAL_TAX_RECEIVABLE
          - STATE_TAX_PAYABLE
          - STATE_TAX_RECEIVABLE
          - MERCH_FACTOR_PAYABLE
          - MERCH_FACTOR_RECEIVABLE
          - VEASE_FUND_CLEAR_PAYABLE
          - VEASE_FUND_CLEAR_RECEIVABLE
          - PAR_BCMC_PAYABLE
          - PAR_BCMC_RECEIVABLE
          - FEE_HOLD_BCMC_PAYABLE
          - FEE_HOLD_BCMC_RECEIVABLE
          - FEE_COLL_BCMC_PAYABLE
          - FEE_COLL_BCMC_RECEIVABLE
          - CUP_MERCHANT_PAYABLE
          - CUP_MERCHANT_RECEIVABLE
          - IDEAL_PAR_PAYABLE
          - IDEAL_PAR_RECEIVABLE
          - SM_PAR_PAYABLE
          - SM_PAR_RECEIVABLE
          - CHBK_HOLD_PAYABLE
          - CHBK_HOLD_RECEIVABLE
        sequenceNumber:
          type: integer
          description: "ABA/DDA occurrence is a sequential number which allows financial\
            \ institutions to maintain accurate records and reconcile ACH transactions,\
            \ ensuring proper accounting and auditing procedures"
          format: int64
        recordType:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        billingLevel:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        routingNumber:
          type: string
        accountNumber:
          type: string
          description: Unique numerical identifier assigned to the merchant's bank
            account
        nameOnAccount:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        bankName:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        accountEffectiveDate:
          type: string
          description: Date when the bank account became active or effective
          format: date
        receiverCountry:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        phoneNumber:
          type: string
          description: Phone number of the principal owner of the business
        contactName:
          type: string
        paymentReference:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        iban:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        correspondentBankNo:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        paymentFormatId:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        clearingEntity:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        paymentDelayDays:
          type: integer
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          format: int32
          x-not-for-north: "true"
        currencyCode:
          type: string
          description: |
            Applicable for `OMNIPAY2`

            ISO 4217 currency of the account selected
          x-for-omnipay26: "true"
          x-not-for-north: "true"
        bankReference:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        correspondentBankAccount:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        bankFundingFileCode:
          type: string
          description: Indicate the funding file process associated with ABA/DDA transactions
        bankCity:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        bankAccountType:
          type: string
          description: |-
            Indicates the account of a merchant
            > Example: Checking/Savings/GL purposes
        statementGeneration:
          type: string
        statementType:
          type: string
        status:
          type: string
        settlementNumber:
          type: string
        currentBalance:
          type: number
    MerchantBusinessInformation:
      type: object
      properties:
        legalContactName:
          maxLength: 40
          minLength: 5
          type: string
          description: Individual designated as the legal contact for a business or
            organization
        legalEntityTypeCode:
          maxLength: 16
          minLength: 2
          type: object
          description: |2
              Applicable for `NORTH` `OMNIPAY26`

              Identifier used to denote the legal entity type of a business or organization
          format: string
          oneOf:
          - title: NORTH
            type: string
            description: '`NORTH`'
            enum:
            - ASSOCIATION_ESTATE_TRUST
            - INTERNATIONAL_ORG
            - LTD_LIABILITY_COMP
            - OTHER
            - PARTNERSHIP
            - PROPRIETOR
            - PUBLIC_PRIVATE_CORP
            - TAX_EXEMPT_GOVERNMENT
          - title: OMNIPAY26
            type: string
            description: '`OMNIPAY26`'
            enum:
            - ALTRO
            - ASSOCIATIONS
            - BUSINESS_TRUST
            - CHARITY
            - CIVIL_LAW_ASSOCIATION
            - CLOSED_CORPORATION
            - COMPANY
            - CORPORATION
            - CO_OPERATIVE
            - CO_OPERATIVE_SCRL
            - EXTERNAL_COMPANY
            - FOUNDATION
            - GENERAL_PARTNERS
            - INDIVIDUAL
            - JOINT_STOCK
            - JOINT_STOCK_SPA
            - LEGAL_FORM
            - LIMITED_PARTNERS
            - LLC
            - LLC_GMBH
            - LLC_SRL
            - NON_PROFIT_COMPANY
            - NON_PROFIT_ORGANIZATION
            - NON_PROFIT_ORGANIZATION_ONLUS
            - NOT_APPLICABLE
            - OTHERS
            - PARTNERSHIP
            - PARTNERSHIP_SNC
            - PERSONAL_LIABILITY_COMPANY
            - PRIVATE_COMPANY
            - PROPRIETORSHIP
            - PROPRIETORSHIP_DITTA_INDIVIDUAL
            - PUBLIC_COMPANY
            - PUBLIC_LIMITED_COMPANY
            - SIMPLIFIED_SHAREHOLDER_COMPANY
            - SOCIETE_ANONYME
            - SOLE_TRADER
            - TRUST
          x-for-north: "true"
          x-for-omnipay26: "true"
        legalContactTitle:
          maxLength: 30
          minLength: 1
          type: string
          description: Professional title or designation of the legal contact for
            a business or organization
        customerServicePhoneNumber:
          maxLength: 15
          minLength: 10
          type: string
          description: Customer service contact number provided by the merchant
        locationStartDate:
          type: string
          format: date
        activationDate:
          type: string
          format: date
        estimatedFirstProcessDate:
          type: string
          format: date
        firstCancelDate:
          type: string
          format: date
        lastCancelDate:
          type: string
          format: date
        lastSettleDate:
          type: string
          format: date
        electronicSigIndicator:
          maxLength: 3
          minLength: 2
          type: string
          enum:
          - "YES"
          - "NO"
        residentStatusCode:
          type: string
        registrationNumber:
          type: string
        salesTaxExemptIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: Indicates whether the merchant is exempt from paying tax
          enum:
          - "YES"
          - "NO"
        thirdPartyProcessorCode:
          maxLength: 15
          minLength: 3
          type: string
          description: Unique identifier associated with a third-party payment processor
            used by a merchant
          enum:
          - APRIVA
          - AUTH.NET
          - CYBERSOURCE
          - FIS
          - MER_LINK
          - NONE
          - OTHER
          - SHIFT4
          - SIX_PMT_SVC_GRP
          - VERIFONE
          - VERISIGN
          - YAHOO
        periodicReviewIndicator:
          maxLength: 3
          minLength: 2
          type: string
          enum:
          - "YES"
          - "NO"
        annualSalesAmount:
          type: number
        averageTicketAmount:
          maxLength: 39
          minLength: 4
          type: number
          description: Average amount of each individual transaction made by customers
            at a merchant's establishment
        highestTicketAmount:
          type: number
          description: Average amount of each individual transaction made by customers
            at a merchant's establishment
        largeTicketPurchaseIndicator:
          maxLength: 3
          minLength: 2
          type: string
          enum:
          - "YES"
          - "NO"
        mailOrderPercent:
          type: number
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        phoneOrderPercent:
          type: number
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        posOrderPercent:
          type: number
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        swipedPercent:
          type: number
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        keyedPercent:
          maxLength: 5
          minLength: 1
          type: number
          description: Percentage entered manually rather than being automatically
            calculated or derived from a system
        salesChannelId:
          type: string
          x-not-for-north: "true"
        salesLeadTrackingNo:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        accountSignedDate:
          type: string
          format: date
          x-not-for-north: "true"
        accountApprovalDate:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          format: date
          x-not-for-north: "true"
        quasiCashIndicator:
          maxLength: 3
          minLength: 2
          type: string
        internetOrderPercent:
          maxLength: 6
          minLength: 4
          type: number
        firstActivityDate:
          type: string
          description: First recorded activity
          format: date
        thirdPartyProcessorName:
          maxLength: 15
          minLength: 10
          type: string
        del0To7DayPercent:
          type: number
        del8To14DayPercent:
          type: number
        del15To30DayPercent:
          type: number
        del30PlusDayPercent:
          type: number
    MerchantHierarchies:
      type: object
      properties:
        hierarchyLevelCode:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        hierarchySeq:
          type: integer
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          format: int64
          x-not-for-north: "true"
        hierarchyName:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        hierarchyMerchantId:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
      description: |
        > For more details refer to <a href="../docs?path=docs/specification/merchant/omnipay26.md&branch=develop#merchant-hierarchies">`OMNIPAY26`</a> definition
    MerchantIrsTax:
      type: object
      properties:
        exclusionCode:
          maxLength: 35
          minLength: 12
          type: string
          description: Indicates weather the merchant is excluded from the IRS processing
          enum:
          - FINANCIAL_INSTITUTION
          - FOREIGN_ENTITY_PENDING_VERIFICATION
          - FOREIGN_ENTITY_PRIOR_1/1/11
          - FOREIGN_ENTITY_VERIFIED
          - GOVERNMENT_ENTITY
          - NONPROFIT_NOT_VERIFIED
          - NONPROFIT_VERIFIED
          - NOT_EXCLUDED
        irsTinValidationCode:
          maxLength: 24
          minLength: 10
          type: string
          description: Code to validate the taxpayer identification number (TIN) of
            a merchant
          enum:
          - DUPLICATE_TIN
          - FAILED_PRESCREEN
          - INVALID_NOT TFN
          - INVALID_TIN
          - INVALID_TIN_MULTI_TFN
          - IN_PROCESS
          - IN_PROCESS_NO_UPDATE_MMF
          - TEST_ACCOUNT
          - TIN_MATCHED
          - TIN_MATCHED_EIN
          - TIN_MATCHED_SSN
          - TIN_MATCHED_SSN_EIN
          - TIN_MISSING
          - TIN_NOTMATCHED
          - TIN_UNISSUED
        tinValidationDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Date when the IRS taxpayer identification number (TIN) validation
            was last performed for a merchant
          format: date
        payeeId:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        payeeCode:
          maxLength: 24
          minLength: 11
          type: string
          description: Unique code assigned to a payee or recipient for tax reporting
            purposes by the Internal Revenue Service (IRS)
          enum:
          - CHAIN_NON_PAYEE
          - CHAIN_OUTLET_NO_1099K
          - CHAIN_PAYEE
          - CHAIN_PAYEE_AGREGATOR
          - OUTLET_NONPAYEE_UNRELATD
          - OUTLET_NON_PAYEE_RELATED
          - OUTLET_PAYEE_RELATED
          - OUTLET_PAYEE_UNRELATED
          - SINGLETON_PAYEE
        cp2100NoticeReceivedDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Displays the date when a merchant received a CP2100 notice
          format: date
        cp2100NoticeEffectiveDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Displays the specific date when the CP2100 notice becomes effective
          format: date
        withHoldingCode:
          maxLength: 12
          minLength: 8
          type: string
          description: Indicates if the IRS holding code is required or not
          enum:
          - REQUIRED
          - NOT_REQUIRED
        withholdingNotificationCode:
          maxLength: 22
          minLength: 6
          type: string
          description: IRS code associated with a notification related to income withholding
            for tax purposes
          enum:
          - 1099K_REPORT
          - 1099K_REPORT_AND_STATE
          - 1ST_BUW_NOTICE
          - 2ND_BUW_NOTICE
          - BUW_MISSING_TIN
          - BUW_WARN_LETTER
          - NONE
          - TIMS_MANL_BUW
          - W8_EXP
        withholdingNotificationDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Date when a taxpayer or payer received a notification related
            to income withholding
          format: date
        withHoldingReasonCode:
          maxLength: 24
          minLength: 11
          type: string
          description: Code associated with the reason for income withholding
          enum:
          - NO_RESPONSE_2ND_NOTICE
          - MANUAL_OVERRIDE
          - MISSING_TIN
          - NO_RESPONSE_1ST_NOTICE
          - PROPOSED_PENALTY_RECEIVD
        withHoldingEffectiveDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Effective date of income withholding as prescribed by the IRS
          format: date
        withHoldingEndDate:
          maxLength: 10
          minLength: 10
          type: string
          description: End date of income withholding as specified by the IRS
          format: date
        fedWithHoldingPercent:
          maxLength: 7
          minLength: 1
          type: number
          description: Percentage of backup withholding that is required to be withheld
            by the the IRS
        stateWithHoldingPercent:
          maxLength: 3
          minLength: 1
          type: number
          description: Indicates the percentage that applies to the withholding of
            state income tax
        formCertStatusCode:
          maxLength: 24
          minLength: 10
          type: string
          description: Indicates the certification status code of an IRS form
          enum:
          - FORM_CERTIFY_PENDING
          - INCOMPLETE_PAPERWORK
          - SS_CARDCOPY_OR_LTR147C
          - TIMS_MANUAL_BUW_OFF
          - W8_EXPIRATION_PENDING
          - W8_FOREIGN_COMPLETE
          - W8_FOREIGN_PNDING_REVIEW
          - W8_NO_EXPIRATIONS
          - W9_ON_FILE
          - W9_RECEIVED_EXEMPTION
        formCertStatusReceivedDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Date when the certification status of an IRS form was received
            or updated
          format: date
        turfEffectiveDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Effective date of a Taxpayer's United Reporting Federation
            (TURF) agreement with the IRS
          format: date
        turfReasonCode:
          maxLength: 23
          minLength: 17
          type: string
          description: Code to indicate the reason or purpose of the United Reporting
            Federation (TURF) agreement with the IRS
          enum:
          - NO_TIN/TFN_CHANGE
          - ADD_MISSING_TIN/TFN
          - CHANGE_IN_FILING_STATUS
          - CHANGE_IN_OWNERSHIP
          - CORRECT_WRONG_TIN/TFN
        turfUpdateDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Date when a Taxpayer's United Reporting Federation (TURF) agreement
            with the IRS was last updated
          format: date
        taxEffectiveYear:
          maxLength: 4
          minLength: 4
          type: string
          description: "Tax year for which the IRS tax regulations, rules, and rates\
            \ come into effect"
        timsAccountNumber:
          maxLength: 50
          minLength: 20
          type: string
          description: Account number associated with the Taxpayer Information Management
            System (TIMS)
        payeeDefaultIndicator:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        taxPayIndicator:
          maxLength: 3
          minLength: 2
          type: string
          description: Indicates whether a taxpayer has made the required tax payments
            for a specific period or tax year
          enum:
          - "YES"
          - "NO"
    MerchantProduct:
      type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        valueAddedServices:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        fees:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        equipments:
          type: array
          items:
            $ref: '#/components/schemas/Product'
    MerchantXref:
      type: object
      properties:
        xrefPlatformMid:
          maxLength: 50
          minLength: 12
          type: string
          description: Unique identifier assigned to a merchant
        xrefPlatformCode:
          type: string
          description: Indicates the usage status or validity of a cross-reference
            record associated with the merchant
        primarySecurityCode:
          type: string
          description: Primary security code assigned to a valid front end network
        alliancePlatformCode:
          type: string
          description: Code that indicates the alliance pratform
        xrefCorrespondenceIndicator:
          maxLength: 50
          minLength: 2
          type: string
          description: Indicates whether the merchants and communications utilize
            the associated cross-reference number
    Owner:
      type: object
      properties:
        ownerSeqCode:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        firstName:
          maxLength: 100
          minLength: 3
          type: string
          description: Legal first name of the principal owner of the business
        middleName:
          maxLength: 100
          minLength: 1
          type: string
          description: Legal middle name of the principal owner of the business
        lastName:
          maxLength: 100
          minLength: 3
          type: string
          description: Legal last name of the principal owner of the business
        title:
          maxLength: 80
          minLength: 3
          type: string
          description: Professional or honorary title of the principal owner of the
            business
        address1Text:
          maxLength: 150
          minLength: 3
          type: string
          description: "First line of the merchant's physical address. Typically building\
            \ number, street name and any additional relevant address details"
        address2Text:
          maxLength: 150
          minLength: 3
          type: string
          description: Second line of the merchant's physical address. Captures additional
            details that complement the first line
        address3Text:
          type: string
          description: Third line of the merchant's physical address for additional
            address details
        address4Text:
          type: string
          description: Fourth line of the merchant's physical address for additional
            address details
        address5Text:
          type: string
          description: Fifth line of the merchant's physical address for additional
            address details
        city:
          maxLength: 100
          minLength: 2
          type: string
          description: Name of the city where the merchant is located
        stateCode:
          maxLength: 10
          minLength: 3
          type: string
          description: State code for US or Canada where the merchant is located
        countryCode:
          maxLength: 10
          minLength: 3
          type: string
          description: Country code for where the merchant is located
        postalCode:
          maxLength: 20
          minLength: 5
          type: string
          description: Postal code where the merchant is located
        countyCode:
          type: string
          description: County code where the merchant is located
          readOnly: true
        countyName:
          type: string
          description: County Name where the merchant is located
          readOnly: true
        mobile:
          maxLength: 15
          minLength: 10
          type: string
          description: Mobile number of the principal owner of the business
        fax:
          type: string
        signerIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: Indicates if the principal owner of the business is the authorized
            signer for financial and legal agreements or not
          enum:
          - "YES"
          - "NO"
        guarantorIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: Indicates whether there is a designated guarantor associated
            for financial obligations of a merchant
          enum:
          - "YES"
          - "NO"
        birthDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Indicates the birth date of the principal owner of the business
          format: date
        yearsAtAddress:
          maxLength: 3
          minLength: 1
          type: integer
          description: Number of years the principal owner has been residing at their
            current address
          format: int64
        emailAddress:
          type: string
          description: E-mail address of the merchant
          readOnly: true
        ownershipPercent:
          maxLength: 3
          minLength: 1
          type: integer
          description: Indicates the percentage of ownership held by a particular
            individual or entity in the business
          format: int32
        mobileValidationStatus:
          maxLength: 15
          minLength: 15
          type: string
          description: Displays the status of mobile number for the principal owner
        mobileValidationSourceCode:
          maxLength: 50
          minLength: 15
          type: string
          description: Code to identify the status of the mobile number for the principal
            owner
        mobileValidationDate:
          maxLength: 10
          minLength: 10
          type: string
          description: Indicates the date when the mobile number for the principal
            owner was last validated
          format: date
        ownerIdentificationDetails:
          type: array
          items:
            $ref: '#/components/schemas/OwnerIdentification'
        phoneNumber:
          maxLength: 15
          minLength: 10
          type: string
          description: Phone number of the principal owner of the business
      description: |
        > For more details refer to <a href="../docs?path=docs/specification/merchant/north.md&branch=develop#owners">`NORTH`</a> definition
    OwnerIdentification:
      type: object
      properties:
        identityDocTypeCode:
          type: string
          description: Type of tax identification document provided by the merchant
            for verification purposes
          readOnly: true
        identityDocNumber:
          maxLength: 50
          minLength: 50
          type: string
          description: Unique number associated with an official identity document
            provided by the merchant
    Product:
      type: object
      properties:
        productCode:
          type: string
          description: Code that indicate the brand entitlement of the product
        subCategory:
          type: string
        productShortDesc:
          type: string
        productLongDesc:
          type: string
        lineNumber:
          type: integer
          format: int64
        parentLineNumber:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        feeTableId:
          maxLength: 10
          minLength: 10
          type: string
          description: Unique identifier of pricing grid assigned to a merchant
        isActive:
          type: string
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        uniqueIdentifier:
          type: string
        uniqueId:
          type: string
        equipmentId:
          type: string
        purchaseType:
          type: string
        wholesaleCharge:
          type: number
        retailCharge:
          type: number
        terminalFrontEnds:
          type: array
          items:
            $ref: '#/components/schemas/ProductEquipmentTerminalFrontEndsRes'
        attributes:
          type: object
          additionalProperties:
            type: object
        productAssociation:
          $ref: '#/components/schemas/ProductAssociation'
        wholesaleAmountOrPercent:
          maxLength: 11
          minLength: 11
          type: number
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        retailAmountOrPercent:
          maxLength: 11
          minLength: 11
          type: number
          description: Applicable for `OMAHA` `OMNIPAY26` `SOUTH`
          x-not-for-north: "true"
        feeTypeCode:
          type: string
        equipmentCategory:
          type: string
        parentEquipmentId:
          type: string
        serialNumber:
          type: string
        frontend:
          type: string
        terminalId:
          type: string
        frontendMid:
          type: string
        partNumber:
          type: string
        maintenanceCharge:
          type: number
        leaseTerm:
          type: integer
          format: int64
        totalCost:
          type: number
    ProductAssociation:
      type: object
      properties:
        category:
          type: string
        productCode:
          type: string
        description:
          type: string
    ProductEquipmentTerminalFrontEndsRes:
      type: object
      properties:
        frontEnd:
          type: string
        terminalId:
          type: string
        frontEndMid:
          type: string
    ResponseMerchant:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Merchant'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
