openapi: 3.0.1
info:
  title: UMM GraphQL
  description: Unified API to retrieve/update Merchant's information
  version: 1.0.0
servers:
- url: https://connect.fiservapis.com/unifiedmerchantmaster
paths:
  /graphql⁣⁣⁣⁣:
    post:
      tags:
      - Merchant Create
      summary: GraphQL API to create Merchant
      operationId: createMerchant
      parameters:
      - name: Authorization
        in: header
        description: |
          Bearer access token. For token generation refer to
          <a href="../docs?path=docs/getting-access/api-access.md">API access</a>
        required: true
        schema:
          type: string
        example: "Bearer {token}"
      - name: x-encrypted-data
        in: header
        description: Use to signify if data is encrypted
        required: false
        schema:
          type: string
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMerchant"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseMerchant"
      x-proxy-name: createMerchant
      x-group-name: Mutation
      x-core: UMM
      x-child-product-name: Merchant
  /graphql⁣⁣:
    post:
      tags:
      - Merchant Update
      summary: GraphQL API to update Merchant's information
      operationId: updateMerchant
      parameters:
      - name: Authorization
        in: header
        description: |
          Bearer access token. For token generation refer to
          <a href="../docs?path=docs/getting-access/api-access.md">API access</a>
        required: true
        schema:
          type: string
        example: "Bearer {token}"
      - name: x-encrypted-data
        in: header
        description: Use to signify if data is encrypted
        required: false
        schema:
          type: string
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMerchant"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseMerchant"
      x-proxy-name: updateMerchant
      x-group-name: Mutation
      x-core: UMM
      x-child-product-name: Merchant
  /graphql⁣:
    post:
      tags:
      - Merchant Search
      summary: GraphQL API to retrieve Merchant's information by search criteria
      operationId: search
      parameters:
      - name: platformCode
        in: query
        description: |
          Code to identify the specific backend platform. It adds the required information for the merchant. For more details refer to
          <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
        required: true
        schema:
          type: string
          description: |
            Code to identify the specific backend platform. It adds the required information for the merchant. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
      - name: pageNumber
        in: query
        required: true
        schema:
          type: string
          example: 1
        example: 1
      - name: Authorization
        in: header
        description: |
          Bearer access token. For token generation refer to
          <a href="../docs?path=docs/getting-access/api-access.md">API access</a>
        required: true
        schema:
          type: string
        example: "Bearer {token}"
      - name: x-encrypted-data
        in: header
        description: Use to signify if data is encrypted
        required: false
        schema:
          type: string
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseSearchResponse"
      x-proxy-name: search
      x-group-name: Inquiry
      x-core: UMM
      x-child-product-name: Merchant
  /graphql:
    post:
      tags:
      - Merchant Inquiry
      summary: GraphQL API to retrieve Merchant's information. Additional filtering
        can be perfomed based on certain parameter as shown in the provided request
        sample
      operationId: getMerchant
      parameters:
      - name: merchantId
        in: query
        description: |
          Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database. For more details refer to
          <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_id">specification</a>
        required: true
        schema:
          type: string
          description: |
            Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_id">specification</a>
      - name: platformCode
        in: query
        description: |
          Code to identify the specific backend platform. It adds the required information for the merchant. For more details refer to
          <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
        required: true
        schema:
          type: string
          description: |
            Code to identify the specific backend platform. It adds the required information for the merchant. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
      - name: effectiveDate
        in: query
        description: Effective date from when the user can start fetching the snapshot
          data for a particular merchant and platform using UMM DB
        required: false
        schema:
          type: string
          description: Effective date from when the user can start fetching the snapshot
            data for a particular merchant and platform using UMM DB
          format: yyyy-MM-dd
          example: 2024-06-06
        example: 2024-06-06
      - name: Authorization
        in: header
        description: |
          Bearer access token. For token generation refer to
          <a href="../docs?path=docs/getting-access/api-access.md">API access</a>
        required: true
        schema:
          type: string
        example: "Bearer {token}"
      - name: x-encrypted-data
        in: header
        description: Use to signify if data is encrypted
        required: false
        schema:
          type: string
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InquiryRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseMerchant"
      x-proxy-name: getMerchant
      x-group-name: Inquiry
      x-core: UMM
      x-child-product-name: Merchant
components:
  schemas:
    Address:
      type: object
      properties:
        addressTypeCode:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#address_type_code">specification</a>
          readOnly: true
          enum:
          - LOCATION
          - CORPORATE
          - MSIP_LOCATION
          - MSIP_CORPORATE
          - DISPUTE_ADDRESS
          - HEAD_OFFICE
          - LEGAL
          - BENEFICIARY
          - BUSINESS_MANAGER
          - ALTERNATE_ADDRESS
        contactName:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#contact_name">specification</a>
        contactTitle:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#contact_title">specification</a>
        address1Text:
          type: string
          description: |
            First line of the merchant's physical address. Typically building number, street name and any additional relevant address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#address_1_text">specification</a>
        address2Text:
          type: string
          description: |
            Second line of the merchant's physical address. Captures additional details that complement the first line
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#address_2_text">specification</a>
        address3Text:
          type: string
          description: |
            Third line of the merchant's physical address for additional address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#address_3_text">specification</a>
        address4Text:
          type: string
          description: |
            Fourth line of the merchant's physical address for additional address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#address_4_text">specification</a>
        address5Text:
          type: string
          description: |
            Fifth line of the merchant's physical address for additional address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#address_5_text">specification</a>
        city:
          type: string
          description: |
            Name of the city where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#city">specification</a>
        stateCode:
          type: string
          description: |
            State code for US or Canada where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#state_code">specification</a>
        stateName:
          type: string
          description: |
            State name for US or Canada where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#state_name">specification</a>
        countryCode:
          type: string
          description: |
            Country code for where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#country_code">specification</a>
        postalCode:
          type: string
          description: |
            Postal code where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#postal_code">specification</a>
        countyCode:
          type: string
          description: |
            County code where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#county_code">specification</a>
        countyName:
          type: string
          description: |
            County name where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#county_name">specification</a>
        businessPhone:
          type: string
          description: |
            Phone number of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#business_phone">specification</a>
        mobile:
          type: string
          description: |
            Mobile number of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#mobile">specification</a>
        fax:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#fax">specification</a>
        emailAddress:
          type: string
          description: |
            E-mail address of the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#email_address">specification</a>
        deliveryMethod:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#delivery_method">specification</a>
        attentionTo:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantAddress.md#attention_to">specification</a>
    CreateMerchant:
      required:
      - query
      type: object
      properties:
        query:
          type: string
          description: |
            Sample merchant boarding mutation query
            ```
            ```
        boardingSchema:
          $ref: "#/components/schemas/MerchantBoardingSchema"
    MerchantAccount:
      type: object
      properties:
        accountUsageCode:
          type: string
          description: |
            Unique identifier assigned to a checking or current account. It distinguishs one account from another within a financial institution
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#acct_usage_code">specification</a>
          enum:
          - FUNDING
          - LEASING
          - VISA_PAR_PAYABLE
          - VISA_PAR_RECEIVABLE
          - MC_PAR_PAYABLE
          - MC_PAR_RECEIVABLE
          - AMEX_ADJUSTMENTS_PAYABLE
          - AMEX_ADJUSTMENTS_RECEIVABLE
          - VISA_ADJUSTMENTS_PAYABLE
          - VISA_ADJUSTMENTS_RECEIVABLE
          - FEE_COLLECT_PAYABLE
          - FEE_COLLECT_RECEIVABLE
          - SP_PAYMENT_PAYABLE
          - SP_PAYMENT_RECEIVABLE
          - FEE_HOLD_PAYABLE
          - FEE_HOLD_RECEIVABLE
          - AMEX_MERCH_PAYABLE
          - AMEX_MERCH_RECEIVABLE
          - MC_ADJUSTMENTS_PAYABLE
          - MC_ADJUSTMENTS_RECEIVABLE
          - APM_PAR_PAYABLE
          - APM_PAR_RECEIVABLE
          - WRITEOFF_ACQ_PAYABLE
          - WRITEOFF_ACQ_RECEIVABLE
          - WRITEOFF_SP_PAYABLE
          - WRITEOFF_SP_RECEIVABLE
          - FX_PI_CHARGEBACK_PAYABLE
          - FX_PI_CHARGEBACK_RECEIVABLE
          - INTERBANK_SUSP_VISA_PAYABLE
          - INTERBANK_SUSP_VISA_RECEIVABLE
          - REJECTS_ECCF_PAYABLE
          - REJECTS_ECCF_RECEIVABLE
          - REJECTS_VISA_PAYABLE
          - REJECTS_VISA_RECEIVABLE
          - REJECTS_INET_PAYABLE
          - REJECTS_INET_RECEIVABLE
          - FEE_COLL_ECCF_PAYABLE
          - FEE_COLL_ECCF_RECEIVABLE
          - FEE_COLL_VISA_PAYABLE
          - FEE_COLL_VISA_RECEIVABLE
          - FEE_COLL_INET_PAYABLE
          - FEE_COLL_INET_RECEIVABLE
          - REJECTS_IPM_PAYABLE
          - REJECTS_IPM_RECEIVABLE
          - FEE_COLL_IPM_PAYABLE
          - FEE_COLL_IPM_RECEIVABLE
          - MANUAL_ADJUSTMENTS_PAYABLE
          - MANUAL_ADJUSTMENTS_RECEIVABLE
          - FX_PL_CHARGEBACK_2_PAYABLE
          - FX_PL_CHARGEBACK_2_RECEIVABLE
          - MERCH_PYMT_REJECTS_PAYABLE
          - MERCH_PYMT_REJECTS_RECEIVABLE
          - ACQ_DISPUTE_TRANS_PAYABLE
          - ACQ_DISPUTE_TRANS_RECEIVABLE
          - INTERBANL_SUSPENSE_PAYABLE
          - INTERBANL_SUSPENSE_RECEIVABLE
          - REJECTED_DESC_PAYABLE
          - REJECTED_DESC_RECEIVABLE
          - INTEREST_RECEIVABLE_PAYABLE
          - INTEREST_RECEIVABLE_RECEIVABLE
          - REJECTED_SOURCE_PAYABLE
          - REJECTED_SOURCE_RECEIVABLE
          - MERCH_COMM_REVENUE_PAYABLE
          - MERCH_COMM_REVENUE_RECEIVABLE
          - ACQ_COMM_REVENUE_PAYABLE
          - ACQ_COMM_REVENUE_RECEIVABLE
          - TREASURY_PYMT_VISA_PAYABLE
          - TREASURY_PYMT_VISA_RECEIVABLE
          - TREASURY_PYMT_MC_PAYABLE
          - TREASURY_PYMT_MC_RECEIVABLE
          - TREASURY_PYMT_ALL_PAYABLE
          - TREASURY_PYMT_ALL_RECEIVABLE
          - TREASURY_PYMT_WELLS_PAYABLE
          - TREASURY_PYMT_WELLS_RECEIVABLE
          - TREASURY_PYMT_FDELGBP_PAYABLE
          - TREASURY_PYMT_FDELGBP_RECEIVABLE
          - TREASURY_PYMT_BASECAD_PAYABLE
          - TREASURY_PYMT_BASECAD_RECEIVABLE
          - TREASURY_PYMT_EUR_PAYABLE
          - TREASURY_PYMT_EUR_RECEIVABLE
          - TREASURY_PYMT_BAMS_PAYABLE
          - TREASURY_PYMT_BAMS_RECEIVABLE
          - PAR_PAYABLE
          - PAR_RECEIVABLE
          - PAYMENT_SUSPENSE_PAYABLE
          - PAYMENT_SUSPENSE_RECEIVABLE
          - FX_ROUNDING_DIFF_PAYABLE
          - FX_ROUNDING_DIFF_RECEIVABLE
          - MERCHANT_HOLD_PAYABLE
          - MERCHANT_HOLD_RECEIVABLE
          - VAT_HOLD_PAYABLE
          - VAT_HOLD_RECEIVABLE
          - MERCH_RESERVE_PAYABLE
          - MERCH_RESERVE_RECEIVABLE
          - FEXCO_COMM_REVENUE_PAYABLE
          - FEXCO_COMM_REVENUE_RECEIVABLE
          - JCB_MERCHANT_PAYABLE
          - JCB_MERCHANT_RECEIVABLE
          - MERCHANT_BILLBACK_PAYABLE
          - MERCHANT_BILLBACK_RECEIVABLE
          - INTERCHANGE_REJ_SUSP_PAYABLE
          - INTERCHANGE_REJ_SUSP_RECEIVABLE
          - GST_COLLECT_PAYABLE
          - GST_COLLECT_RECEIVABLE
          - TREASURY_PYMT_U_PAYABLE
          - TREASURY_PYMT_U_RECEIVABLE
          - DINERS_MERCHANT_PAYABLE
          - DINERS_MERCHANT_RECEIVABLE
          - PAGOBANCOMAT_PAYABLE
          - PAGOBANCOMAT_RECEIVABLE
          - MERC_ROLLIN_RESERVE_PAYABLE
          - MERC_ROLLIN_RESERVE_RECEIVABLE
          - ALTERNATIVE_PAYMENTS_PAYABLE
          - ALTERNATIVE_PAYMENTS_RECEIVABLE
          - PAR_HOLDING_PAYABLE
          - PAR_HOLDING_RECEIVABLE
          - PAR_DR_PAYABLE
          - PAR_DR_RECEIVABLE
          - FEDERAL_TAX_PAYABLE
          - FEDERAL_TAX_RECEIVABLE
          - STATE_TAX_PAYABLE
          - STATE_TAX_RECEIVABLE
          - MERCH_FACTOR_PAYABLE
          - MERCH_FACTOR_RECEIVABLE
          - VEASE_FUND_CLEAR_PAYABLE
          - VEASE_FUND_CLEAR_RECEIVABLE
          - PAR_BCMC_PAYABLE
          - PAR_BCMC_RECEIVABLE
          - FEE_HOLD_BCMC_PAYABLE
          - FEE_HOLD_BCMC_RECEIVABLE
          - FEE_COLL_BCMC_PAYABLE
          - FEE_COLL_BCMC_RECEIVABLE
          - CUP_MERCHANT_PAYABLE
          - CUP_MERCHANT_RECEIVABLE
          - IDEAL_PAR_PAYABLE
          - IDEAL_PAR_RECEIVABLE
          - SM_PAR_PAYABLE
          - SM_PAR_RECEIVABLE
          - CHBK_HOLD_PAYABLE
          - CHBK_HOLD_RECEIVABLE
        sequenceNumber:
          type: integer
          description: |
            ABA/DDA occurrence is a sequential number which allows financial institutions to maintain accurate records and reconcile ACH transactions, ensuring proper accounting and auditing procedures
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#sequence_number">specification</a>
          format: int64
        recordType:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#record_type">specification</a>
        billingLevel:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#billing_level">specification</a>
        routingNumber:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#routing_number">specification</a>
        accountNumber:
          type: string
          description: |
            Unique numerical identifier assigned to the merchant's bank account
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#acct_number">specification</a>
        nameOnAccount:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#name_on_account">specification</a>
        bankName:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#bank_name">specification</a>
        accountEffectiveDate:
          type: string
          description: |
            Date when the bank account became active or effective
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#account_effective_dt">specification</a>
          format: date
        receiverCountry:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#receiver_country">specification</a>
        phoneNumber:
          type: string
          description: |
            Phone number of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#phone_number">specification</a>
        contactName:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#contact_name">specification</a>
        paymentReference:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#payment_reference">specification</a>
        iban:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#iban">specification</a>
        correspondentBankNo:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#correspondent_bank_no">specification</a>
        paymentFormatId:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#payment_format_id">specification</a>
        clearingEntity:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#clearing_entity">specification</a>
        paymentDelayDays:
          type: integer
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#payment_delay_days">specification</a>
          format: int32
        currencyCode:
          type: string
          description: |
            ISO 4217 currency of the account selected
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#currency_code">specification</a>
        bankReference:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#bank_reference">specification</a>
        correspondentBankAccount:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#corredpondent_bank_account">specification</a>
        bankFundingFileCode:
          type: string
          description: |
            Indicate the funding file process associated with ABA/DDA transactions
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#bank_funding_file_code">specification</a>
        bankCity:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#bank_city">specification</a>
        bankAccountType:
          type: string
          description: |
            Indicates the account of a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#bank_account_type">specification</a>
        statementGeneration:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#statement_generation">specification</a>
        statementType:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#statement_type">specification</a>
        status:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#status">specification</a>
        settlementNumber:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#settlement_number">specification</a>
        currentBalance:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBankAccount.md#current_balance">specification</a>
    MerchantBoardingSchema:
      required:
      - platformCode
      type: object
      properties:
        merchantId:
          type: string
          description: |
            Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_id">specification</a>
        platformCode:
          type: string
          description: |
            Code to identify the specific backend platform. It adds the required information for the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
          enum:
          - NORTH
          - SOUTH
          - OMNIPAY26
        setupIndicator:
          type: string
        dbaName:
          type: string
          description: |
            Official merchant name that the customer or authorities commonly recognizes
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#dba_name">specification</a>
        legalName:
          type: string
          description: |
            Legal or official name of a merchant that is registered with government tax authorities.
            > Note: It must be entered exactly same as it apears in the legal tax documents for the merchant. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#legal_name">specification</a>
        businessUrl:
          type: string
          description: |
            Official website address (URL) associated with the merchant.
            > Note: The URL should be complete and accurate and it should start with the protocol (http:// or https://). For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_url">specification</a>
        storeId:
          type: string
          description: |
            Unique identifier of the merchant's store
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#store_id">specification</a>
        taxFilingName:
          type: string
          description: |
            Name that the merchant uses to file the taxes with the relevant tax authorities
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_filing_name">specification</a>
        businessTypCode:
          type: string
          description: |
            Code to/that indicate whether merchant can process payment in store or online
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_typ_code">specification</a>
        merchantCategoryCode:
          type: string
          description: |
            Code to/that indicate the type of business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_category_code">specification</a>
        standardIndustryClassCode:
          type: string
          description: |
            Code to/that indicate the classification of MC/VISA standard industry
            > Note: The code list is available upon request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#standard_industry_class_code">specification</a>
        productsSold:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#products_sold">specification</a>
          readOnly: true
        statusCode:
          type: string
          description: |
            Code that indicate the status of a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#status_code">specification</a>
        acctOpenDate:
          type: string
          description: |
            Date on which the merchant account was opened
            > Note: It can include a time component if required. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_open_date">specification</a>
          format: date
        franchiseIndicator:
          type: string
          description: |
            Value that indicate the merchant is a franchise or
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#franchise_indicator">specification</a>
        seasonalIndicator:
          type: string
          description: |
            Value that indicate the merchat is a seasonal or not
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#seasonal_indicator">specification</a>
        salesmanCode:
          type: string
          description: |
            Code that indicate the salesman associated with a merchant
            > Note: The code list is available upon request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#salesman_code">specification</a>
        relationshipMgrCode:
          type: string
          description: |
            Code that indicate a relationship manager who is responsible for managing the merchant's account
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#relationship_mgr_code">specification</a>
        markerBankCode:
          type: string
          description: |
            Code that indicate the bank associated with a maker or client
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#marker_bank_code">specification</a>
        clearingBankCode:
          type: string
          description: |
            Code to/that indicate the clearing bank associated with a merchant
            > Note: The valid list is available on request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#clearing_bank_code">specification</a>
        pricingTypeCode:
          type: string
          description: |
            Code that indicate the pricing type for interchange calculations
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#pricing_type_code">specification</a>
        taxIdTypeCode:
          type: string
          description: |
            Code that indicate the type of tax identifier
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_id_type_code">specification</a>
        taxId:
          type: string
          description: |
            Unique identifier of the merchant tax
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_id">specification</a>
        languageCode:
          type: string
          description: |
            Code that indicate the language for communication with the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#language_code">specification</a>
        multiCurrencyIndicator:
          type: string
          description: |
            Value that indicate whether a merchant conducts currency conversion at the point of sale
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#multi_currency_indicator">specification</a>
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        products:
          $ref: "#/components/schemas/MerchantProduct"
        merchantAttributes:
          type: object
          additionalProperties:
            type: object
            description: |
              Will contain one or more attributes in the format shown below
              ```
              {
                "domain#1": {
                  "domainDescription": "domain #1 description",
                  "attribute#1": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  },
                  "attribute#2": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  }
                },
                "domain#2": {
                  "domainDescription": "domain #2 description",
                  "attribute#1": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  }
                }
              }
              ```
              > For additional information refer to
              <a href="../docs??path=docs/specification/merchant/merchantAttributes.md">specification</a>
          description: |
            Will contain one or more attributes in the format shown below
            ```
            {
              "domain#1": {
                "domainDescription": "domain #1 description",
                "attribute#1": {
                  "attributeDescription": "attribute description",
                  "values": [ "some value" ]
                },
                "attribute#2": {
                  "attributeDescription": "attribute description",
                  "values": [ "some value" ]
                }
              },
              "domain#2": {
                "domainDescription": "domain #2 description",
                "attribute#1": {
                  "attributeDescription": "attribute description",
                  "values": [ "some value" ]
                }
              }
            }
            ```
            > For additional information refer to
            <a href="../docs??path=docs/specification/merchant/merchantAttributes.md">specification</a>
        merchantBusinessInformation:
          $ref: "#/components/schemas/MerchantBusinessInformation"
        merchantHierarchies:
          type: array
          items:
            $ref: "#/components/schemas/MerchantHierarchies"
        merchantXrefs:
          type: array
          items:
            $ref: "#/components/schemas/MerchantXref"
        merchantAccounts:
          type: array
          items:
            $ref: "#/components/schemas/MerchantAccount"
        subPlatformCode:
          type: string
          description: |
            Code that indicate the alliance pratform
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#sub_platform">specification</a>
        corporateName:
          type: string
          description: |
            Official name of the merchant as it appears in legal and corporate documents
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#corporate_name">specification</a>
        boardingTypeCode:
          type: string
        boardingSourceCode:
          type: string
      description: "> 🚫 This is for reference, **not** required in request body;\
        \ this will be part of the graphql mutation query"
      nullable: true
      default: {}
    MerchantBusinessInformation:
      type: object
      properties:
        legalContactName:
          type: string
          description: |
            Individual designated as the legal contact for a business or organization
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#legal_contact_name">specification</a>
        legalEntityTypeCode:
          type: string
          description: |
            Identifier used to denote the legal entity type of a business or organization
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#legal_entity_type_code">specification</a>
        legalContactTitle:
          type: string
          description: |
            Professional title or designation of the legal contact for a business or organization
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#legal_contact_title">specification</a>
        customerServicePhoneNumber:
          type: string
          description: |
            Customer service contact number provided by the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#customer_service_phone_number">specification</a>
        locationStartDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#localtion_start_date">specification</a>
          format: date
        activationDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#activation_date">specification</a>
          format: date
        estimatedFirstProcessDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#estimated_first_process_date">specification</a>
          format: date
        firstCancelDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#first_cancel_date">specification</a>
          format: date
        lastCancelDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#last_cancel_date">specification</a>
          format: date
        lastSettleDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#last_settle_date">specification</a>
          format: date
        electronicSigIndicator:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#electronic_sig_indicator">specification</a>
        residentStatusCode:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#resident_status_code">specification</a>
        registrationNumber:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#registration_number">specification</a>
        salesTaxExemptIndicator:
          type: string
          description: |
            Indicates whether the merchant is exempt from paying tax
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#sales_tax_exempt_indicator">specification</a>
        thirdPartyProcessorCode:
          type: string
          description: |
            Unique identifier associated with a third-party payment processor used by a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#third_party_processor_code">specification</a>
        periodicReviewIndicator:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#periodic_review_indicator">specification</a>
        annualSalesAmount:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#annual_sales_amount">specification</a>
        averageTicketAmount:
          type: number
          description: |
            Average amount of each individual transaction made by customers at a merchant's establishment
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#average_ticket_amount">specification</a>
        highestTicketAmount:
          type: number
          description: |
            Highest amount of transaction made by customers at a merchant's establishment
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#highest_ticket_amount">specification</a>
        largeTicketPurchaseIndicator:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#higheslarge_ticket_purchase_indicator">specification</a>
        mailOrderPercent:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#mail_order_percent">specification</a>
        phoneOrderPercent:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#phone_order_percent">specification</a>
        posOrderPercent:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#pos_order_percent">specification</a>
        swipedPercent:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#swiped_percent">specification</a>
        keyedPercent:
          type: number
          description: |
            Percentage entered manually rather than being automatically calculated or derived from a system
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#keyed_percent">specification</a>
        salesChannelId:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#sales_channel_id">specification</a>
        salesLeadTrackingNo:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#sales_lead_tracking_no">specification</a>
        accountSignedDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#account_signed_date">specification</a>
          format: date
        accountApprovalDate:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#account_approval_date">specification</a>
          format: date
        quasiCashIndicator:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#quasi_cash_indicator">specification</a>
        internetOrderPercent:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#internet_order_percent">specification</a>
        firstActivityDate:
          type: string
          description: |
            First recorded activity
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#first_activity_date">specification</a>
          format: date
        thirdPartyProcessorName:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#third_party_processor_name">specification</a>
        estimatedAnnualBankCardSalesAmount:
          type: number
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantBusinessInformation.md#estimated_annual_bank_card_sales_amount">specification</a>
        del0To7DayPercent:
          type: number
        del8To14DayPercent:
          type: number
        del15To30DayPercent:
          type: number
        del30PlusDayPercent:
          type: number
    MerchantHierarchies:
      type: object
      properties:
        hierarchyLevelCode:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantHierarchy.md#hierarchy_level_code">specification</a>
        hierarchySeq:
          type: integer
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantHierarchy.md#hierarchy_seq">specification</a>
          format: int64
        hierarchyName:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantHierarchy.md#hierarchy_name">specification</a>
        hierarchyMerchantId:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantHierarchy.md#hierarchy_merchant_id">specification</a>
    MerchantProduct:
      type: object
      properties:
        entitlements:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        valueAddedServices:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        fees:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        equipments:
          type: array
          items:
            $ref: "#/components/schemas/Product"
    MerchantXref:
      type: object
      properties:
        xrefPlatformMid:
          type: string
          description: |
            Unique identifier assigned to a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Merchant_Xref.md#xref_platform_mid">specification</a>
        xrefPlatformCode:
          type: string
          description: |
            Indicates the usage status or validity of a cross-reference record associated with the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Merchant_Xref.md#xref_platform_code">specification</a>
        primarySecurityCode:
          type: string
          description: |
            Primary security code assigned to a valid front end network
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Merchant_Xref.md#primary_secutiry_code">specification</a>
        alliancePlatformCode:
          type: string
          description: |
            Code that indicates the alliance pratform
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Merchant_Xref.md#alliance_platform_code">specification</a>
        xrefCorrespondenceIndicator:
          type: string
          description: |
            Indicates whether the merchants and communications utilize the associated cross-reference number
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Merchant_Xref.md#xref_correspondence_indicator">specification</a>
    Owner:
      type: object
      properties:
        ownerSeqCode:
          type: string
          description: |
            Sequence number of the principal owner associated with the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#owner_seq_code">specification</a>
        firstName:
          type: string
          description: |
            Legal first name of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#first_name">specification</a>
        middleName:
          type: string
          description: |
            Legal middle name of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#middle_name">specification</a>
        lastName:
          type: string
          description: |
            Legal last name of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#last_name">specification</a>
        title:
          type: string
          description: |
            Professional or honorary title of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#title">specification</a>
        address1Text:
          type: string
          description: |
            First line of the merchant's physical address. Typically building number, street name and any additional relevant address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#address_1_text">specification</a>
        address2Text:
          type: string
          description: |
            Second line of the merchant's physical address. Captures additional details that complement the first line
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#address_2_text">specification</a>
        address3Text:
          type: string
          description: |
            Third line of the merchant's physical address for additional address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#address_3_text">specification</a>
        address4Text:
          type: string
          description: |
            Fourth line of the merchant's physical address for additional address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#address_4_text">specification</a>
        address5Text:
          type: string
          description: |
            Fifth line of the merchant's physical address for additional address details
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#address_5_text">specification</a>
        city:
          type: string
          description: |
            Name of the city where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#city">specification</a>
        stateCode:
          type: string
          description: |
            State code for US or Canada where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#state_code">specification</a>
        countryCode:
          type: string
          description: |
            Country code for where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#country_code">specification</a>
        postalCode:
          type: string
          description: |
            Postal code where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#postal_code">specification</a>
        countyCode:
          type: string
          description: |
            County code where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#county_code">specification</a>
        countyName:
          type: string
          description: |
            County Name where the merchant is located
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#county_name">specification</a>
        mobile:
          type: string
          description: |
            Mobile number of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#mobile">specification</a>
        fax:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#fax">specification</a>
        signerIndicator:
          type: string
          description: |
            Indicates if the principal owner of the business is the authorized signer for financial and legal agreements or not
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#signer_indicator">specification</a>
        guarantorIndicator:
          type: string
          description: |
            Indicates whether there is a designated guarantor associated for financial obligations of a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#guarantor_indicator">specification</a>
        birthDate:
          type: string
          description: |
            Indicates the birth date of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#birth_date">specification</a>
          format: date
        yearsAtAddress:
          type: integer
          description: |
            Number of years the principal owner has been residing at their current address
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#years_at_address">specification</a>
          format: int64
        emailAddress:
          type: string
          description: |
            E-mail address of the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#email_address">specification</a>
        ownershipPercent:
          type: integer
          description: |
            Indicates the percentage of ownership held by a particular individual or entity in the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#ownership_percent">specification</a>
          format: int32
        mobileValidationStatus:
          type: string
          description: |
            Displays the status of mobile number for the principal owner
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#mobile_validation_status">specification</a>
        mobileValidationSourceCode:
          type: string
          description: |
            Code to identify the status of the mobile number for the principal owner
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#mobile_validation_source_code">specification</a>
        mobileValidationDate:
          type: string
          description: |
            Indicates the date when the mobile number for the principal owner was last validated
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#mobile_validation_date">specification</a>
          format: date
        ownerIdentificationDetails:
          type: array
          items:
            $ref: "#/components/schemas/OwnerIdentification"
        phoneNumber:
          type: string
          description: |
            Phone number of the principal owner of the business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#business_phone">specification</a>
    OwnerIdentification:
      type: object
      properties:
        identityDocTypeCode:
          type: string
          description: |
            Type of tax identification document provided by the merchant for verification purposes
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#identity_doc_type_code">specification</a>
        identityDocNumber:
          type: string
          description: |
            Unique number associated with an official identity document provided by the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/MerchantOwner.md#identity_doc_number">specification</a>
    Product:
      type: object
      properties:
        productCode:
          type: string
          description: Code that indicate the brand entitlement of the product
        subCategory:
          type: string
        productShortDesc:
          type: string
        productLongDesc:
          type: string
        lineNumber:
          type: integer
          format: int64
        parentLineNumber:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int64
        feeTableId:
          maxLength: 10
          minLength: 10
          type: string
          description: Unique identifier of pricing grid assigned to a merchant
        isActive:
          type: string
        uniqueIdentifier:
          type: string
        uniqueId:
          type: string
        equipmentId:
          type: string
        purchaseType:
          type: string
        wholesaleCharge:
          type: number
        retailCharge:
          type: number
        terminalFrontEnds:
          type: array
          items:
            $ref: "#/components/schemas/ProductEquipmentTerminalFrontEndsRes"
        attributes:
          type: object
          additionalProperties:
            type: object
            description: |
              Will contain one or more attributes in the format shown below
              ```
              {
                "attributeType#1": {
                  "attribute#1": {
                    "values": [ "some value" ]
                  },
                  "attribute#2": {
                    "values": [ "some value" ]
                  }
                }
              }
              ```
          description: |
            Will contain one or more attributes in the format shown below
            ```
            {
              "attributeType#1": {
                "attribute#1": {
                  "values": [ "some value" ]
                },
                "attribute#2": {
                  "values": [ "some value" ]
                }
              }
            }
            ```
        productAssociation:
          $ref: "#/components/schemas/ProductAssociation"
        wholesaleAmountOrPercent:
          type: number
        retailAmountOrPercent:
          type: number
        feeTypeCode:
          type: string
        equipmentCategory:
          type: string
        parentEquipmentId:
          type: string
        serialNumber:
          type: string
        frontend:
          type: string
        terminalId:
          type: string
        frontendMid:
          type: string
        partNumber:
          type: string
        maintenanceCharge:
          type: number
        leaseTerm:
          type: integer
          format: int64
        totalCost:
          type: number
    ProductAssociation:
      type: object
      properties:
        category:
          type: string
        productCode:
          type: string
        description:
          type: string
    ProductEquipmentTerminalFrontEndsRes:
      type: object
      properties:
        frontEnd:
          type: string
        terminalId:
          type: string
        frontEndMid:
          type: string
    Error:
      type: object
      properties:
        errorCode:
          type: integer
          format: int32
        errorMessage:
          type: string
        httpStatusCode:
          type: string
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 EARLY_HINTS
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        rawExceptionMessage:
          type: string
        errorSource:
          type: string
    Merchant:
      required:
      - merchantId
      - platformCode
      type: object
      properties:
        merchantId:
          type: string
          description: |
            Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_id">specification</a>
        platformCode:
          type: string
          description: |
            Code to identify the specific backend platform. It adds the required information for the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
          enum:
          - NORTH
          - OMAHA
          - SOUTH
          - OMNIPAY26
          - OMNIPAY21
        setupIndicator:
          type: string
        dbaName:
          type: string
          description: |
            Official merchant name that the customer or authorities commonly recognizes
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#dba_name">specification</a>
        legalName:
          type: string
          description: |
            Legal or official name of a merchant that is registered with government tax authorities.
            > Note: It must be entered exactly same as it apears in the legal tax documents for the merchant. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#legal_name">specification</a>
        businessUrl:
          type: string
          description: |
            Official website address (URL) associated with the merchant.
            > Note: The URL should be complete and accurate and it should start with the protocol (http:// or https://). For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_url">specification</a>
        hierarchyLevelCode:
          type: string
          description: |
            Unique identifier assigned to an outlet or a specific level within a hierarchical structure of a merchant's business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#hierarchy_level_code">specification</a>
          readOnly: true
        storeId:
          type: string
          description: |
            Unique identifier of the merchant's store
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#store_id">specification</a>
        taxFilingName:
          type: string
          description: |
            Name that the merchant uses to file the taxes with the relevant tax authorities
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_filing_name">specification</a>
        businessTypCode:
          type: string
          description: |
            Code to/that indicate whether merchant can process payment in store or online
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_typ_code">specification</a>
        merchantCategoryCode:
          type: string
          description: |
            Code to/that indicate the type of business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_category_code">specification</a>
        standardIndustryClassCode:
          type: string
          description: |
            Code to/that indicate the classification of MC/VISA standard industry
            > Note: The code list is available upon request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#standard_industry_class_code">specification</a>
        productsSold:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#products_sold">specification</a>
          readOnly: true
        statusCode:
          type: string
          description: |
            Code that indicate the status of a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#status_code">specification</a>
        acctOpenDate:
          type: string
          description: |
            Date on which the merchant account was opened
            > Note: It can include a time component if required. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_open_date">specification</a>
          format: date
        acctSubmitDate:
          type: string
          description: |
            Date on which the account was submitted
            > Note: It can include a time component if required. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_submit_date">specification</a>
          format: date
          readOnly: true
        lastStatusChangedDate:
          type: string
          description: |
            Date on which the last status of the merchant account was changed
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#last_status_changed_date">specification</a>
          format: date
          readOnly: true
        lastStatusCode:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#last_status_code">specification</a>
        acctCloseDate:
          type: string
          description: |
            Date on which the account was closed
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_close_date">specification</a>
          format: date
        closeReasonCode:
          type: string
          description: |
            Code to/that indicate the reason of merchant account closure
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#close_reason_code">specification</a>
        franchiseIndicator:
          type: string
          description: |
            Value that indicate the merchant is a franchise or
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#franchise_indicator">specification</a>
        seasonalIndicator:
          type: string
          description: |
            Value that indicate the merchat is a seasonal or not
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#seasonal_indicator">specification</a>
        salesmanCode:
          type: string
          description: |
            Code that indicate the salesman associated with a merchant
            > Note: The code list is available upon request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#salesman_code">specification</a>
        relationshipMgrCode:
          type: string
          description: |
            Code that indicate a relationship manager who is responsible for managing the merchant's account
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#relationship_mgr_code">specification</a>
        markerBankCode:
          type: string
          description: |
            Code that indicate the bank associated with a maker or client
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#marker_bank_code">specification</a>
        clearingBankCode:
          type: string
          description: |
            Code to/that indicate the clearing bank associated with a merchant
            > Note: The valid list is available on request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#clearing_bank_code">specification</a>
        businessStartDate:
          type: string
          description: |
            Date on which the business was started
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_start_date">specification</a>
          format: date
          readOnly: true
        pricingTypeCode:
          type: string
          description: |
            Code that indicate the pricing type for interchange calculations
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#pricing_type_code">specification</a>
        taxIdTypeCode:
          type: string
          description: |
            Code that indicate the type of tax identifier
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_id_type_code">specification</a>
        taxId:
          type: string
          description: |
            Unique identifier of the merchant tax
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_id">specification</a>
        intlTaxExemptIndicator:
          type: string
          description: |
            Value that indicate the international tax exempt is applicable to North MSIP
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#intl_tax_exempt_indicator">specification</a>
        annualCardAmount:
          type: number
          description: |
            Amount of the annual card in decimal format
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#annual_card_amount">specification</a>
          readOnly: true
        businessTimeZone:
          type: string
          readOnly: true
        languageCode:
          type: string
          description: |
            Code that indicate the language for communication with the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#language_code">specification</a>
        multiCurrencyIndicator:
          type: string
          description: |
            Value that indicate whether a merchant conducts currency conversion at the point of sale
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#multi_currency_indicator">specification</a>
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/Address"
        products:
          $ref: "#/components/schemas/MerchantProduct"
        merchantAttributes:
          type: object
          additionalProperties:
            type: object
            description: |
              Will contain one or more attributes in the format shown below
              ```
              {
                "domain#1": {
                  "domainDescription": "domain #1 description",
                  "attribute#1": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  },
                  "attribute#2": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  }
                },
                "domain#2": {
                  "domainDescription": "domain #2 description",
                  "attribute#1": {
                    "attributeDescription": "attribute description",
                    "values": [ "some value" ]
                  }
                }
              }
              ```
              > For additional information refer to
              <a href="../docs??path=docs/specification/merchant/merchantAttributes.md">specification</a>
          description: |
            Will contain one or more attributes in the format shown below
            ```
            {
              "domain#1": {
                "domainDescription": "domain #1 description",
                "attribute#1": {
                  "attributeDescription": "attribute description",
                  "values": [ "some value" ]
                },
                "attribute#2": {
                  "attributeDescription": "attribute description",
                  "values": [ "some value" ]
                }
              },
              "domain#2": {
                "domainDescription": "domain #2 description",
                "attribute#1": {
                  "attributeDescription": "attribute description",
                  "values": [ "some value" ]
                }
              }
            }
            ```
            > For additional information refer to
            <a href="../docs??path=docs/specification/merchant/merchantAttributes.md">specification</a>
        merchantBusinessInformation:
          $ref: "#/components/schemas/MerchantBusinessInformation"
        merchantHierarchies:
          type: array
          items:
            $ref: "#/components/schemas/MerchantHierarchies"
        merchantXrefs:
          type: array
          items:
            $ref: "#/components/schemas/MerchantXref"
        merchantAccounts:
          type: array
          items:
            $ref: "#/components/schemas/MerchantAccount"
        merchantIrsDetails:
          $ref: "#/components/schemas/MerchantIrsTax"
        subPlatformCode:
          type: string
          description: |
            Code that indicate the alliance pratform
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#sub_platform">specification</a>
        corporateName:
          type: string
          description: |
            Official name of the merchant as it appears in legal and corporate documents
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#corporate_name">specification</a>
    MerchantIrsTax:
      type: object
      properties:
        exclusionCode:
          type: string
          description: |
            Indicates weather the merchant is excluded from the IRS processing
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#exclusion_code">specification</a>
        irsTinValidationCode:
          type: string
          description: |
            Code to validate the taxpayer identification number (TIN) of a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#irs_tin_validation_code">specification</a>
        tinValidationDate:
          type: string
          description: |
            Date when the IRS taxpayer identification number (TIN) validation was last performed for a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#tin_validation_date">specification</a>
          format: date
        payeeId:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#payee_id">specification</a>
        payeeCode:
          type: string
          description: |
            Unique code assigned to a payee or recipient for tax reporting purposes by the Internal Revenue Service (IRS)
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#payee_code">specification</a>
        cp2100NoticeReceivedDate:
          type: string
          description: |
            Displays the date when a merchant received a CP2100 notice
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#cp2100_notice_received_date">specification</a>
          format: date
        cp2100NoticeEffectiveDate:
          type: string
          description: |
            Displays the specific date when the CP2100 notice becomes effective
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#cp2100_notice_effective_date">specification</a>
          format: date
        withHoldingCode:
          type: string
          description: |
            Indicates if the IRS holding code is required or not
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#withholding_code">specification</a>
        withholdingNotificationCode:
          type: string
          description: |
            IRS code associated with a notification related to income withholding for tax purposes
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#withholding_notification_code">specification</a>
        withholdingNotificationDate:
          type: string
          description: |
            Date when a taxpayer or payer received a notification related to income withholding
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#withholding_notification_date">specification</a>
          format: date
        withHoldingReasonCode:
          type: string
          description: |
            Code associated with the reason for income withholding
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#withholding_reason_code">specification</a>
        withHoldingEffectiveDate:
          type: string
          description: |
            Effective date of income withholding as prescribed by the IRS
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#withholding_effective_date">specification</a>
          format: date
        withHoldingEndDate:
          type: string
          description: |
            End date of income withholding as specified by the IRS
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#withholding_end_date">specification</a>
          format: date
        fedWithHoldingPercent:
          type: number
          description: |
            Percentage of backup withholding that is required to be withheld by the the IRS
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#fed_withholding_percent">specification</a>
        stateWithHoldingPercent:
          type: number
          description: |
            Indicates the percentage that applies to the withholding of state income tax
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#state_withholding_percent">specification</a>
        formCertStatusCode:
          type: string
          description: |
            Indicates the certification status code of an IRS form
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#form_cert_status_code">specification</a>
        formCertStatusReceivedDate:
          type: string
          description: |
            Date when the certification status of an IRS form was received or updated
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#form_cert_status_received_date">specification</a>
          format: date
        turfEffectiveDate:
          type: string
          description: |
            Effective date of a Taxpayer's United Reporting Federation (TURF) agreement with the IRS
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#turf_effective_date">specification</a>
          format: date
        turfReasonCode:
          type: string
          description: |
            Code to indicate the reason or purpose of the United Reporting Federation (TURF) agreement with the IRS
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#turf_reason_code">specification</a>
        turfUpdateDate:
          type: string
          description: |
            Date when a Taxpayer's United Reporting Federation (TURF) agreement with the IRS was last updated
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#turf_update_date">specification</a>
          format: date
        taxEffectiveYear:
          type: string
          description: |
            Tax year for which the IRS tax regulations, rules, and rates come into effect
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#tax_effective_year">specification</a>
        timsAccountNumber:
          type: string
          description: |
            Account number associated with the Taxpayer Information Management System (TIMS)
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#tims_account_number">specification</a>
        payeeDefaultIndicator:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#payee_default_indicator">specification</a>
        taxPayIndicator:
          type: string
          description: |
            Indicates whether a taxpayer has made the required tax payments for a specific period or tax year
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/Tax_Adtnl_Data_US.md#tax_pay_indicator">specification</a>
    ResponseMerchant:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Merchant"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/Error"
    MerchantUpdateSchema:
      required:
      - merchantId
      - platformCode
      type: object
      properties:
        merchantId:
          type: string
          description: |
            Unique identifier of the merchant. It is required to query/add merchant-specific information from/to the database
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_id">specification</a>
        platformCode:
          type: string
          description: |
            Code to identify the specific backend platform. It adds the required information for the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#platform_code">specification</a>
          enum:
          - NORTH
          - OMNIPAY26
        setupIndicator:
          type: string
        dbaName:
          type: string
          description: |
            Official merchant name that the customer or authorities commonly recognizes
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#dba_name">specification</a>
        legalName:
          type: string
          description: |
            Legal or official name of a merchant that is registered with government tax authorities.
            > Note: It must be entered exactly same as it apears in the legal tax documents for the merchant. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#legal_name">specification</a>
        businessUrl:
          type: string
          description: |
            Official website address (URL) associated with the merchant.
            > Note: The URL should be complete and accurate and it should start with the protocol (http:// or https://). For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_url">specification</a>
        hierarchyLevelCode:
          type: string
          description: |
            Unique identifier assigned to an outlet or a specific level within a hierarchical structure of a merchant's business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#hierarchy_level_code">specification</a>
          readOnly: true
        storeId:
          type: string
          description: |
            Unique identifier of the merchant's store
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#store_id">specification</a>
        taxFilingName:
          type: string
          description: |
            Name that the merchant uses to file the taxes with the relevant tax authorities
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_filing_name">specification</a>
        businessTypCode:
          type: string
          description: |
            Code to/that indicate whether merchant can process payment in store or online
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_typ_code">specification</a>
        merchantCategoryCode:
          type: string
          description: |
            Code to/that indicate the type of business
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#merchant_category_code">specification</a>
        standardIndustryClassCode:
          type: string
          description: |
            Code to/that indicate the classification of MC/VISA standard industry
            > Note: The code list is available upon request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#standard_industry_class_code">specification</a>
        productsSold:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#products_sold">specification</a>
          readOnly: true
        statusCode:
          type: string
          description: |
            Code that indicate the status of a merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#status_code">specification</a>
        acctOpenDate:
          type: string
          description: |
            Date on which the merchant account was opened
            > Note: It can include a time component if required. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_open_date">specification</a>
          format: date
        acctSubmitDate:
          type: string
          description: |
            Date on which the account was submitted
            > Note: It can include a time component if required. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_submit_date">specification</a>
          format: date
          readOnly: true
        lastStatusChangedDate:
          type: string
          description: |
            Date on which the last status of the merchant account was changed
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#last_status_changed_date">specification</a>
          format: date
          readOnly: true
        lastStatusCode:
          type: string
          description: |
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#last_status_code">specification</a>
        acctCloseDate:
          type: string
          description: |
            Date on which the account was closed
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#acct_close_date">specification</a>
          format: date
        closeReasonCode:
          type: string
          description: |
            Code to/that indicate the reason of merchant account closure
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#close_reason_code">specification</a>
        franchiseIndicator:
          type: string
          description: |
            Value that indicate the merchant is a franchise or
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#franchise_indicator">specification</a>
        seasonalIndicator:
          type: string
          description: |
            Value that indicate the merchat is a seasonal or not
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#seasonal_indicator">specification</a>
        salesmanCode:
          type: string
          description: |
            Code that indicate the salesman associated with a merchant
            > Note: The code list is available upon request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#salesman_code">specification</a>
        relationshipMgrCode:
          type: string
          description: |
            Code that indicate a relationship manager who is responsible for managing the merchant's account
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#relationship_mgr_code">specification</a>
        markerBankCode:
          type: string
          description: |
            Code that indicate the bank associated with a maker or client
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#marker_bank_code">specification</a>
        clearingBankCode:
          type: string
          description: |
            Code to/that indicate the clearing bank associated with a merchant
            > Note: The valid list is available on request only. For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#clearing_bank_code">specification</a>
        businessStartDate:
          type: string
          description: |
            Date on which the business was started
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#business_start_date">specification</a>
          format: date
          readOnly: true
        pricingTypeCode:
          type: string
          description: |
            Code that indicate the pricing type for interchange calculations
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#pricing_type_code">specification</a>
        taxIdTypeCode:
          type: string
          description: |
            Code that indicate the type of tax identifier
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_id_type_code">specification</a>
        taxId:
          type: string
          description: |
            Unique identifier of the merchant tax
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#tax_id">specification</a>
        intlTaxExemptIndicator:
          type: string
          description: |
            Value that indicate the international tax exempt is applicable to North MSIP
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#intl_tax_exempt_indicator">specification</a>
        annualCardAmount:
          type: number
          description: |
            Amount of the annual card in decimal format
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#annual_card_amount">specification</a>
          readOnly: true
        businessTimeZone:
          type: string
          readOnly: true
        languageCode:
          type: string
          description: |
            Code that indicate the language for communication with the merchant
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#language_code">specification</a>
        multiCurrencyIndicator:
          type: string
          description: |
            Value that indicate whether a merchant conducts currency conversion at the point of sale
            > For more details refer to
            <a href="../docs?path=docs/specification/merchant/merchant.md#multi_currency_indicator">specification</a>
        owners:
          type: array
          items:
            $ref: "#/components/schemas/Owner"
        addresses:
          type: array
          items:
            $ref: "#/components/schemas/Address"
[...]
