################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.2
info:
  title: Dev Portal Tenant APIs.
  description: To onboard properly into the Fiserv Developer Studio as a tenant each
    product must support these APIs so that we can retrieve product specific API specifications
    and documentation.
  version: 1.0.0
servers:
  - url: https://tenants.fiserv.com/
paths:
  /v1/products:
    get:
      tags:
        - North
      x-group-name: North
      x-proxy-name: products
      summary: North API.
      operationId: merchantID
      responses:
        200:
          description: North. <a href="https://fiserv.com" rel="noopener noreferrer" target="_blank">external link</a> <a href="../docs?path=docs/getting-started/setup-tenant/setup-tenant.md">Setup Tenant</a>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/North'
            text/yaml:
              schema:
                $ref: '#/components/schemas/North'
            text/plain:
              schema:
                $ref: '#/components/schemas/North'
  /v1/docs:
    get:
      tags:
        - Documents
      x-group-name: Documents
      x-proxy-name: docs
      summary: Returns Docs in markdown format.
      operationId: DocsAPIId
      parameters:
        - in: query
          name: path
          schema:
            type: string
          required: true
          description: Markdown document path
      responses:
        200:
          description: ""
          content: {}
      x-codegen-request-body-name: Body
  /v1/layouts:
    get:
      tags:
        - Layout
      x-group-name: Layout
      x-proxy-name: layouts
      summary: Returns the product page layout.
      operationId: LayoutAPIId
      responses:
        200:
          description: This text will appear as description of your response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omni'
            text/yaml:
              schema:
                $ref: '#/components/schemas/Omni'
            text/plain:
              schema:
                $ref: '#/components/schemas/Omni'
  /live:
    get:
      tags:
        - HealthCheck
      x-group-name: HealthCheck
      x-proxy-name: live
      summary: Health check probes.
      operationId: healthCheckId
      x-links: 
        link1: 
          description: Developer Studio
          flag: external
          url:  'https://dev-developerstudio.fiserv.com/'
        link2: 
          description: Setup tenant
          flag: internal
          url:  '../docs?path=docs/getting-started/setup-tenant/setup-tenant.md'
        link3: 
          description: Fiserv Portal
          flag: external
          url:  'https://fiserv.com'
      responses:
        200:
          description: Health check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/North'
  
components:
  schemas:
    North:
      type: object
      properties:
        merchantId:
          description: Merchant ID
          type: string
          minLength: 8
          maxLength: 50
        merchantXrefs:
          description: Merchant Xrefs
          type: array
          items:
              type: object
              properties:
                xrefPlatformCode:
                  description: XREF Platform Code
                  type: string
                  minLength: 5
                  maxLength: 40
                xrefPlatformMid:
                  description: XREF Platform MID
                  type: string
                  minLength: 5
                  maxLength: 50
        legalName:
          description: Legal Name for the merchant
          type: string
          minLength: 3
          maxLength: 100
          example: 'TEST LEGAL NAME'
        dbaName:
          type: string
          description: Do Business As Name for the merchant
          minLength: 20
          maxLength: 100
          example: 'TEST DBANAME'
        merchantBusinessInformation:
          description: Merchant Business Information
          type: object
          properties:
            legalEntityTypeCode:
              description: Legal Entity Type Code
              type: string
              minLength: 5
              maxLength: 10
              enum: 
                - PUBLIC_PRIVATE_CORP
                - INTERNATIONAL_ORG
                - TAX_EXEMPT_GOVERNMENT
                - ASSOCIATION_ESTATE_TRUST
                - OTHER
                - PROPRIETOR
                - PARTNERSHIP
                - LTD_LIABILITY_COMP
            registrationNumber:
              description: Registration Number
              type: string
              minLength: 20
              maxLength: 100
            salesCurrencyCode:
              description: Sales Currency Code
              type: string
            customerServicePhoneNumber:
              description: Customer Service Phone Number
              type: string
              minLength: 10
              maxLength: 15
            accountApprovalDate:
              description: Account Approval Date
              type: string
              minLength: 10
              maxLength: 10
            salesChannelId:
              description: Sales Channel Id
              type: string
              minLength: 10
              maxLength: 50
            signedSalesValue:
              description: Signed Sales Value
              type: string
              minLength: 38
              maxLength: 38
            averageTicketAmount:
              description: Average Ticket Amount
              type: string
              minLength: 38
              maxLength: 38
            annualSalesAmount:
              description: Annual Sales Amount
              type: string
              minLength: 38
              maxLength: 38
            accountSignedDate:
              description: Account Signed Date
              type: string
              minLength: 10
              maxLength: 10
            legalContactName:
              description: Legal Contact Name
              type: string
              minLength: 30
              maxLength: 80
            legalContactTitle:
              description: Legal Contact Title
              type: string
              minLength: 30
              maxLength: 80
            salesTaxExemptIndicator:
              description: Sales Tax Exempt Indicator
              type: string
              minLength: 1
              maxLength: 1
            thirdPartyProcessorCode:
              description: Third Party Processor Code
              type: string
              minLength: 3
              maxLength: 10
              enum:
                - APRIVA
                - VERIFONE
                - SHIFT4
                - NONE
                - CYBERSOURCE
                - AUTH.NET
                - YAHOO
                - FIS
                - SIX_PMT_SVC_GRP
                - VERISIGN
                - OTHER
                - MER_LINK
        languageCode:
          description: Language Code
          type: string
          minLength: 5
          maxLength: 10
          enum: [Arabic, English, French]
        merchantCategoryCode:
          description: Merchant Category Code
          type: string
          minLength: 4
          maxLength: 4
        businessTypCode:
          description: Business Type Code
          type: string
          enum: [Retail, Moto_EComm]
        merchantAttributes:
          description: Merchant Attributes
          type: object
          properties:
            boardingAdditionalInfo:
              description: Boarding Additional Information
              type: object
              properties:
                accountOfficerId:
                  description: Account Officer ID
                  type: object
                  properties:
                    values:
                      description: Values for attribute - accountOfficerId
                      type: array
                      items:
                        type: string
                residencyFeeLevelCode:        
                  description: Residency Fee Level Code
                  type: object
                  properties:
                    values:
                      description: Values for attributes - residencyFeeLevelCode
                      type: array
                      items:
                        type: string
                branchId:        
                  description: Branch ID
                  type: object
                  properties:
                    values:
                      description: Values for attributes - branchId
                      type: array
                      items:
                        type: string
                floorLimitCurrencyCode:        
                  description: Floor Limit Currency Code
                  type: object
                  properties:
                    values:
                      description: Values for attributes - floorLimitCurrencyCode
                      type: array
                      items:
                        type: string
                merchantGrade:        
                  description: Merchant Grade
                  type: object
                  properties:
                    values:
                      description: Values for attributes - merchantGrade
                      type: array
                      items:
                        type: string
                secondaryTaxId:        
                  description: Secondary Tax ID
                  type: object
                  properties:
                    values:
                      description: Values for attributes - secondaryTaxId
                      type: array
                      items:
                        type: string
                businessOwnerId:        
                  description: Business Owner ID
                  type: object
                  properties:
                    values:
                      description: Values for attributes - businessOwnerId
                      type: array
                      items:
                        type: string
                salesLead:        
                  description: Sales Lead
                  type: object
                  properties:
                    values:
                      description: Values for attributes - salesLead
                      type: array
                      items:
                        type: string
                signedNumberSales:        
                  description: Signed Number Sales
                  type: object
                  properties:
                    values:
                      description: Values for attributes - signedNumberSales
                      type: array
                      items:
                        type: string
                referenceId:        
                  description: Reference ID
                  type: object
                  properties:
                    values:
                      description: Values for attributes - referenceId
                      type: array
                      items:
                        type: string
                referenceValue:        
                  description: Reference Value
                  type: object
                  properties:
                    values:
                      description: Values for attributes - referenceValue
                      type: array
                      items:
                        type: string
            contract:
              description: Contract
              type: object
              properties:
                contractReference:
                  description: Contract Reference
                  type: object
                  properties:
                    values:
                      description: Values for attribute - contractReference
                      type: array
                      items:
                        type: string
                clientTariff:
                  description: Client Tariff
                  type: object
                  properties:
                    values:
                      description: Values for attribute - clientTariff
                      type: array
                      items:
                        type: string
                postingTariff:
                  description: Posting Tariff
                  type: object
                  properties:
                    values:
                      description: Values for attribute - postingTariff
                      type: array
                      items:
                        type: string
                protectAgainstFXChange:
                  description: Protect Against FXChange
                  type: object
                  properties:
                    values:
                      description: Values for attribute - protectAgainstFXChange
                      type: array
                      items:
                        type: string
                clientRegion:
                  description: Client Region
                  type: object
                  properties:
                    values:
                      description: Values for attribute - clientRegion
                      type: array
                      items:
                        type: string
                tierStructure:
                  description: Tier Structure
                  type: object
                  properties:
                    values:
                      description: Values for attribute - tierStructure
                      type: array
                      items:
                        type: string
                withholdIncomeTariff:
                  description: Withhold Income Tariff
                  type: object
                  properties:
                    values:
                      description: Values for attribute - withholdIncomeTariff
                      type: array
                      items:
                        type: string
                withholdVatTariff:
                  description: Withhold Vat Tariff
                  type: object
                  properties:
                    values:
                      description: Values for attribute - withholdVatTariff
                      type: array
                      items:
                        type: string
                regionalTax:
                  description: Regional Tax
                  type: object
                  properties:
                    values:
                      description: Values for attribute - regionalTax
                      type: array
                      items:
                        type: string
                serviceContract:
                  description: Service Contract
                  type: object
                  properties:
                    values:
                      description: Values for attribute - serviceContract
                      type: array
                      items:
                        type: string
            statementConfig:
              description: Statement Configuration
              type: object
              properties:
                paymentAdviceGeneration:
                  description: Payment Advice Generation
                  type: object
                  properties:
                    values:
                      description: Values for attribute - paymentAdviceGeneration
                      type: array
                      items:
                        type: string
                paymentDeliveryMethodCode:
                  description: Payment Delivery Method Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - paymentDeliveryMethodCode
                      type: array
                      items:
                        type: string
                email:
                  description: Email
                  type: object
                  properties:
                    values:
                      description: Values for attribute - email
                      type: array
                      items:
                        type: string
                icplusStatementFormatCode:
                  description: Statement Format Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - icplusStatementFormatCode
                      type: array
                      items:
                        type: string
                        enum:
                          - ICPLUS_LONG_STMT
                statementFaxNumber:
                  description: Statement Fax Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - statementFaxNumber
                      type: array
                      items:
                        type: string
                statementHoldIndicator:
                  description: Statement Hold Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - statementHoldIndicator
                      type: array
                      items:
                        type: string
                statementMailToCode:
                  description: Statement Mail to Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - statementMailToCode
                      type: array
                      items:
                        type: string
                        enum:
                          - MAIL_TO_CORP_NO_RECAP
                          - SUPP_STMT_RECAP
                          - RECAP_NO_STMT
                          - MAIL_TO_CORP
                          - MAIL_TO_OUTLET
                          - RECAP_CORP_STMT_OUTLET
                statementDeliveryCode:
                  description: Statement Delivery Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - statementDeliveryCode
                      type: array
                      items:
                        type: string
                        enum:
                          - EMAIL
                          - BOTH
                          - HOLD
                          - MAIL
                          - ONLINE
                          - PRINT
                statementTypeCode:
                  description: Statement Type Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - statementTypeCode
                      type: array
                      items:
                        type: string
                        enum:
                          - FISERV_SUMMARY
                          - CONCORD_DETAIL
                          - CONCORD_SUMMARY
                          - FISERV_DETAIL
            settlementConfig:
              description: Settlement Configuration
              type: object
              properties:
                settleFrequencyCode:
                  description: Settle Frequency Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - settleFrequencyCode
                      type: array
                      items:
                        type: string
                        enum:
                          - AT_SETTLEMENT
                          - DAILY_DISC
                processingTypeCode:
                  description: Processing Type Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - processingTypeCode
                      type: array
                      items:
                        type: string
                        enum:
                          - PAPER_TERMINAL
                          - PAPER_VOICE
                          - DIRECT_SOLUTIONS
                          - CASH_ADV_OUTLET_ON_US
                          - ECR
                          - TAPE_DEPOSITOR
                          - FUNDING_ACCT
                          - EDC
                billbackCode:
                  description: Billback Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - billbackCode
                      type: array
                      items:
                        type: string
                        enum:
                          - AUTO_BILLBK_NO_REVERSAL
                          - LEGACY
                          - FUEL_CARD
                          - AUTO_BILLBK_ON
                          - AUTO_BILLBK_OFF
                          - NOT_AUTO_BILLBK
                          - AUTO_BILLBK_WITH_REVERSAL
                billbackHierarchyCode:
                  description: Billback Hierarchy Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - billbackHierarchyCode
                      type: array
                      items:
                        type: string
                        enum:
                          - BANK
                          - CHAIN
                          - OUTLET
                billbackSurchargeCode:
                  description: Billback Surcharge Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - billbackSurchargeCode
                      type: array
                      items:
                        type: string
                        enum:
                          - FUEL_CARD_PLAN_CODE_VI
                          - GOVT_PLAN_CODE_VI
                          - EXCLUDE_AUTO_FUEL_VI
                          - COMMERCIAL_CARD_PLAN_CODE_MC_VI
                          - CORP_CARD_PLAN_CODE_MC_VI
                          - AUTO_BILLSRCHRG_MER
                          - AUTO_BILL_SRCHRG_BSNS
                          - NO_AUTO_BILL_SRCHRG
                surchargeExceptionCode:
                  description: Surcharge Exception Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - surchargeExceptionCode
                      type: array
                      items:
                        type: string
                        enum:
                          - ALLOW_SCHG
                          - NO_SCHG_VISA_INF_MC_F20A
                          - NO_SCHG_VISA_INF_COMM
                          - NO_SCHG_VISA_SIG_COMM
                          - NO_SCHG_VISA_INF_MC
                          - NO_SCHG_VISA_SIG_MC
                billbackRoundingIndicator:
                  description: Billback Rounding Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - billbackRoundingIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - NO
                          - YES
            fundingConfig:
              description: Funding Configuration
              type: object
              properties:
                fundingMethodCode:
                  description: Funding Method Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingMethodCode
                      type: array
                      items:
                        type: string
                        enum:
                          - ACH_MER_BLK_CHAIN
                          - BNKWIRE_CHAIN_AUTO_NEG
                          - BNKWIRE_OUTLET
                          - BNKWIRE_BANK
                          - ACH_BANK
                          - ACH_OUTLET
                          - CHK_TO_MAIN_BLK_LVL
                          - BY_CHK_TO_OUTLET
                          - BNKWIRE_MER_BLK_CHAIN
                          - AGENT_BANK_SPLIT_FUNDING
                          - SPLIT_CHAIN_BNKWIRE_ACH
                          - SPLIT_OUTLET_BNKWIRE_ACH
                          - BNKWIRE_AGENT_AUTO_NEG
                billbackSurchargeCode:
                  description: Billback Surcharge Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - billbackSurchargeCode
                      type: array
                      items:
                        type: string
                fundingRunCode:
                  description: Funding Run Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingRunCode
                      type: array
                      items:
                        type: string
                        enum:
                          - FUNDING_RUN4
                          - FUNDING_RUN6
                          - FUNDING_RUN3
                          - FUNDING_RUN1
                          - FUNDING_RUNS
                          - FUNDING_RUN2
                fundingRollupCode:
                  description: Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - NET_FEE_TRANS
                          - EACH_TRANSFER
                          - DEPOSIT_BATCH
                          - DEBIT_CREDIT
                          - NET_ROLLUP
                          - VIA_CATGRY
                fundingAchDelayDays:
                  description: Funding ACH Delay Days
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingAchDelayDays
                      type: array
                      items:
                        type: string
                fundingExcludeCode:
                  description: Funding Exclude Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingExcludeCode
                      type: array
                      items:
                        type: string
                        enum:
                          - YES
                          - NO
                          - DIVERT
                fundingExcludeDailyLimitAmount:
                  description: Funding Exclude Daily Limt Amount
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingExcludeDailyLimitAmount
                      type: array
                      items:
                        type: string
                fundingExclude30DayLimitAmount:
                  description: Funding Exclude 30 Day Limit Amount
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingExclude30DayLimitAmount
                      type: array
                      items:
                        type: string
                fundingRppDelayDays:
                  description: Funding Rpp Delay Days
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingRppDelayDays
                      type: array
                      items:
                        type: string
                fundingRppMinimumAmount:
                  description: Funding Rpp Minimum Amount
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingRppMinimumAmount
                      type: array
                      items:
                        type: string
                fundingRppMinimumReserveAmount:
                  description: Funding Rpp Minimum Reserve Amount
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingRppMinimumReserveAmount
                      type: array
                      items:
                        type: string
                fundingRppPercent:
                  description: Funding Rpp Percent
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingRppPercent
                      type: array
                      items:
                        type: string
                ptsLimitsIndicator:
                  description: Pts Limits Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - ptsLimitsIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - YES
                          - NO
                achSuspenseHoldIndicator:
                  description: ACH Suspense Hold Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - achSuspenseHoldIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - NO
                          - YES
                fundingNotifyContactName:
                  description: Funding Notify Contact Name
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingNotifyContactName
                      type: array
                      items:
                        type: string
                fundingNotifyFaxNumber:
                  description: Funding Notify Fax Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingNotifyFaxNumber
                      type: array
                      items:
                        type: string
                fundingNotifyIndicator:
                  description: Funding Notify Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingNotifyIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - YES
                          - NO
                fundingNotifyMethodCode:
                  description: Funding Notify Method Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - fundingNotifyMethodCode
                      type: array
                      items:
                        type: string
                        enum:
                          - EMAIL
                          - FAX
                          - NOT_USED
                          - TELEPHONE
                          - MAIL
                interchangeAssessmentsFundingRollupCode:
                  description: Interchange Assessments Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - interchangeAssessmentsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - DEPOSIT_BATCH
                          - DEBIT_CREDIT
                          - NET_ROLLUP
                          - EACH_TRANSFER
                          - VIA_CATGRY
                          - NET_FEE_TRANS
                discountsFundingRollupCode:
                  description: Discounts Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - discountsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - NET_ROLLUP
                          - NET_FEE_TRANS
                          - DEPOSIT_BATCH
                          - DEBIT_CREDIT
                          - EACH_TRANSFER
                          - VIA_CATGRY
                chargebacksFundingRollupCode:
                  description: Chargebacks Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - chargebacksFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - EACH_TRANSFER
                          - VIA_CATGRY
                          - NET_ROLLUP
                          - DEBIT_CREDIT
                          - DEPOSIT_BATCH
                          - NET_FEE_TRANS
                reversalsFundingRollupCode:
                  description: Reversals Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - reversalsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - NET_ROLLUP
                          - NET_FEE_TRANS
                          - EACH_TRANSFER
                          - DEPOSIT_BATCH
                          - VIA_CATGRY
                          - DEBIT_CREDIT
                depositAdjustmentsFundingRollupCode:
                  description: Deposit Adjustments Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - depositAdjustmentsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - NET_FEE_TRANS
                          - DEPOSIT_BATCH
                          - DEBIT_CREDIT
                          - NET_ROLLUP
                          - VIA_CATGRY
                          - EACH_TRANSFER
                nonBankcardAdjustmentsFundingRollupCode:
                  description: Non-Bankcard Adjustments Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - nonBankcardAdjustmentsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - EACH_TRANSFER
                          - NET_FEE_TRANS
                          - DEPOSIT_BATCH
                          - DEBIT_CREDIT
                          - NET_ROLLUP
                          - VIA_CATGRY
                depositsFundingRollupCode:
                  description: Deposits Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - depositsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - DEBIT_CREDIT
                          - NET_ROLLUP
                          - VIA_CATGRY
                          - NET_FEE_TRANS
                          - DEPOSIT_BATCH
                          - EACH_TRANSFER
                feesFundingRollupCode:
                  description: Fees Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - feesFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - NET_FEE_TRANS
                          - DEBIT_CREDIT
                          - DEPOSIT_BATCH
                          - EACH_TRANSFER
                          - NET_ROLLUP
                          - VIA_CATGRY
                financialAdjustmentsFundingRollupCode:
                  description: Financial Adjustments Funding Rollup Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - financialAdjustmentsFundingRollupCode
                      type: array
                      items:
                        type: string
                        enum:
                          - NET_FEE_TRANS
                          - EACH_TRANSFER
                          - DEPOSIT_BATCH
                          - DEBIT_CREDIT
                          - NET_ROLLUP
                          - VIA_CATGRY
                interchangeAssessmentsBankSequenceNumber:
                  description: Interchange Assessments Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - interchangeAssessmentsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '1'
                          - '2'
                          - '3'
                          - '4'
                          - '5'
                discountsBankSequenceNumber:
                  description: Discounts Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - discountsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '5'
                          - '4'
                          - '3'
                          - '2'
                          - '1'
                chargebacksBankSequenceNumber:
                  description: Chargebacks Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - chargebacksBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '5'
                          - '2'
                          - '3'
                          - '4'
                          - '1'                          
                reversalsBankSequenceNumber:
                  description: Reversals Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - reversalsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '1'
                          - '5'
                          - '4'
                          - '3'
                          - '2'                          
                depositAdjustmentsBankSequenceNumber:
                  description: Deposit Adjustments Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - depositAdjustmentsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '5'
                          - '3'
                          - '4'
                          - '1'
                          - '2'
                nonBankcardAdjustmentsBankSequenceNumber:
                  description: Non Bankcard Adjustments Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - nonBankcardAdjustmentsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '1'
                          - '3'
                          - '2'
                          - '4'
                          - '5'                                                    
                depositsBankSequenceNumber:
                  description: Deposits Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - depositsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '3'
                          - '4'
                          - '2'
                          - '5'
                          - '1'                                                    
                feesBankSequenceNumber:
                  description: Fees Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - feesBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '3'
                          - '4'
                          - '5'
                          - '2'
                          - '1'                                                    
                financialAdjustmentsBankSequenceNumber:
                  description: Financial Adjustments Bank Sequence Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - financialAdjustmentsBankSequenceNumber
                      type: array
                      items:
                        type: string
                        enum:
                          - '4'
                          - '5'
                          - '3'
                          - '1'
                          - '2'
                interchangeAssessmentsFundingDivertCode:
                  description: Interchange Assessments Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - interchangeAssessmentsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                discountsFundingDivertCode:
                  description: Discounts Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - discountsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                chargebacksFundingDivertCode:
                  description: Chargebacks Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - chargebacksFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                reversalsFundingDivertCode:
                  description: Reversals Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - reversalsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                depositAdjustmentsFundingDivertCode:
                  description: Deposit Adjustments Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - depositAdjustmentsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                nonBankcardAdjustmentsFundingDivertCode:
                  description: Non Bankcard Adjustments Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - nonBankcardAdjustmentsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                depositsFundingDivertCode:
                  description: Deposits Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - depositsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                feesFundingDivertCode:
                  description: Fees Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - feesFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
                financialAdjustmentsFundingDivertCode:
                  description: Financial Adjustments Funding Divert Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - financialAdjustmentsFundingDivertCode
                      type: array
                      items:
                        type: string
                        enum:
                          - CARS
            chargebackConfig:
              description: Chargeback Configuration
              type: object
              properties:
                email:
                  description: Email
                  type: object
                  properties:
                    values:
                      description: Values for attribute - email
                      type: array
                      items:
                        type: string
                mediaRetrievalCode:
                  description: Media Retrieval Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - mediaRetrievalCode
                      type: array
                      items:
                        type: string
                mediaFaxNumber:
                  description: Media Fax Number
                  type: object
                  properties:
                    values:
                      description: Values for attribute - mediaFaxNumber
                      type: array
                      items:
                        type: string
                chargebackPrenoteIndicator:
                  description: Chargeback Prenote Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - chargebackPrenoteIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - NO
                          - YES
                chargebackPrenoteDays:
                  description: Chargeback Prenote Days
                  type: object
                  properties:
                    values:
                      description: Values for attribute - chargebackPrenoteDays
                      type: array
                      items:
                        type: string
                holdChargebackIndicator:
                  description: Hold Chargeback Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - holdChargebackIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - PROCESS_DAILY
                          - PROCESS_MONTHLY
                chargebackAddressCode:
                  description: Chargeback Address Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - chargebackAddressCode
                      type: array
                      items:
                        type: string
                        enum:
                          - DBA_ADDR_ONLY
                          - BILLTO_ADDR_ONLY
                          - NONE
                          - BILLTO_ADDR_DBA_ADDR
                          - DBA_ADDR_BILLTO_ADDR
            retrievalsConfig:
              description: Retrievals Configuration
              type: object
              properties:
                email:
                  description: Email
                  type: object
                  properties:
                    values:
                      description: Values for attribute - email
                      type: array
                      items:
                        type: string
            miscellaneous:
              description: Miscellaneous
              type: object
              properties:
                techEmail:
                  description: Tech Email
                  type: object
                  properties:
                    values:
                      description: Values for attribute - techEmail
                      type: array
                      items:
                        type: string
            reversalConfig:
              description: Reversal Configuration
              type: object
              properties:
                reversal24HourProcessIndicator:
                  description: Reversal 24 Hour Process Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - reversal24HourProcessIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - YES
                          - NO
                reversalDaylightSavingsIndicator:
                  description: Reversal daylight Savings Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - reversalDaylightSavingsIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - NO
                          - YES
                reversalTimeZoneCode:
                  description: Reversal Time Zone Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - reversalTimeZoneCode
                      type: array
                      items:
                        type: string
                        enum:
                          - IRAN_DAYLIGHT
                          - MARQUESAS_TIME
                          - CHINA_TIME
                          - GEORGIA_STANDARD
                          - INDIAN_STANDARD
                          - MOUNTAIN_TIME
                          - AUSTRAILIAN_CST
                          - JAPAN_TIME
                          - ALASKAN_TIME
                          - EASTERN_TIME
                          - AUS_CENTRAL_SUMMER
                          - CENTRAL_TIME
                          - NORFOLK_TIME
                          - GMT-0430
                          - SAMOA_STANDARD
                          - CENTRAL_AFRICA
                          - MAWSON_STANDARD
                          - PHOENIX_ISLAND
                          - FIJI_TIME
                          - EASTERN_GREENLAND
                          - EAST_AFRICA
                          - BRASILIA_DAYLIGHT
                          - CHRISTMAS_ISLAND
                          - BAKER_ISLAND
                          - GMT+1130
                          - ATLANTIC_TIME
                          - CHATHAM_STANDARD
                          - LINE_ISLAND
                          - GREENWICH_MEAN
                          - PAPAU_NEW_GUINEA
                          - PACIFIC_TIME
                          - COCOS_ISLAND
                          - HAWAII_ALEUTIAN
                          - CENTRAL_EUROPEAN
                          - GMT-0330
                          - NEPAL_TIME
            onBoardingDetails:
              description: Onboarding Details
              type: object
              properties:
                boardingOriginCode:
                  description: Boarding Origin Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - boardingOriginCode
                      type: array
                      items:
                        type: string
                        enum:
                          - BAM
                          - MERCURY
                          - EMERALD
                linkBackwardMerchantId:
                  description: Link Backward Merchant ID
                  type: object
                  properties:
                    values:
                      description: Values for attribute - linkBackwardMerchantId
                      type: array
                      items:
                        type: string
                linkForwardMerchantId:
                  description: Link Forward Merchant ID
                  type: object
                  properties:
                    values:
                      description: Values for attribute - linkForwardMerchantId
                      type: array
                      items:
                        type: string
            adrp:
              description: ADRP
              type: object
              properties:
                adrpCumulativeLimitAmount:
                  description: ADRP Cumulative Limit Amount
                  type: object
                  properties:
                    values:
                      description: Values for attribute - adrpCumulativeLimitAmount
                      type: array
                      items:
                        type: string
                adrpCumulativeLimitCount:
                  description: ADRP Cumulative Limit Count
                  type: object
                  properties:
                    values:
                      description: Values for attribute - adrpCumulativeLimitCount
                      type: array
                      items:
                        type: string
                adrpLimitAmount:
                  description: ADRP Limit Count
                  type: object
                  properties:
                    values:
                      description: Values for attribute - adrpLimitAmount
                      type: array
                      items:
                        type: string
            billingConfig:
              description: Billing Configuration
              type: object
              properties:
                billSuppliesShippingIndicator:
                  description: Bill Supplies Shipping Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - billSuppliesShippingIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - YES
                          - NO
            electronicTicketCapture:
              description: Electronic Ticket Capture
              type: object
              properties:
                etcCutoffTimeCode:
                  description: ETC Cutoff Time Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - etcCutoffTimeCode
                      type: array
                      items:
                        type: string
                        enum:
                          - 12AM_CST
                          - 6PM_CST
                          - 10PM_EST
                          - NONE
                etcOptionCode:
                  description: ETC Option Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - etcOptionCode
                      type: array
                      items:
                        type: string
                        enum:
                          - ETC_PLUS_DEBIT
                          - ETC_VOICE_BKP
                          - ETC_ELECTRONIC_ONLY
                          - HOST_OUT_OF_BALANCE
                          - HOST_MUST_BALANCE
                          - NON_ETC
                          - NONE
                          - ETC_ELC_W_CLS_BAT
                          - ETC_VOICE_BK_W_CLS_BAT
                          - ETC_PLUS
                etcBypassEditsIndicator:
                  description: ETC Bypass Edits Indicator
                  type: object
                  properties:
                    values:
                      description: Values for attribute - etcBypassEditsIndicator
                      type: array
                      items:
                        type: string
                        enum:
                          - NO
                          - YES
                etcMerchantId:
                  description: ETC Merchant ID
                  type: object
                  properties:
                    values:
                      description: Values for attribute - etcMerchantId
                      type: array
                      items:
                        type: string
        pricingTypeCode:
          description: Pricing Type Code
          type: string
          minLength: 3
          maxLength: 27
          enum: [RG_CASH_ADV, RG_DC_MOTO]
        taxId:
          description: Tax ID
          type: string
          minLength: 15
          maxLength: 100
        multiCurrencyIndicator:
          description: Multi Currency Indicator
          type: string
          minLength: 3
          maxLength: 50
          enum:
            - DCC_GMA
            - TAI
            - NO_CURR_CONV
            - INDIA
            - GLOBAL_EPRICING
            - CURR_CONV
            - FOREIGN_PROCESSING
        merchantServiceNote:
          description: Merchant Service Note
          type: object
          properties:
            comments1Txt:
              description: Comments 1 Text
              type: string
              minLength: 20
              maxLength: 100
        acctOpenDate:
          description: Account Open Date
          type: string
          minLength: 10
          maxLength: 10
        salesmanCode:
          description: Salesman Code
          type: string
          minLength: 20
          maxLength: 100
        addresses:
          description: Merchant Addresses
          type: array
          items:
              type: object
              properties:
                addressTypeCode:
                  description: Merchant Address Type Code
                  type: string
                  minLength: 1
                  maxLength: 10
                address1Text:
                  description: Address 1 Text
                  type: string
                  minLength: 80
                  maxLength: 150
                city:
                  description: City
                  type: string
                  minLength: 40
                  maxLength: 100
                stateCode:
                  description: State Code
                  type: string
                  minLength: 3
                  maxLength: 10
                countryCode:
                  description: Country Code
                  type: string
                  minLength: 2
                  maxLength: 10
                postalCode:
                  description: Postal Code
                  type: string
                  minLength: 5
                  maxLength: 20
                countyCode:
                  description: County Code
                  type: string
                  minLength: 2
                  maxLength: 50
                businessPhone:
                  description: Business Phone
                  type: string
                  minLength: 10
                  maxLength: 15
                address2Text:
                  description: Address 2 Text
                  type: string
                  minLength: 80
                  maxLength: 150
                address3Text:
                  description: Address 3 Text
                  type: string
                  minLength: 80
                  maxLength: 150
                address4Text:
                  description: Address 4 Text
                  type: string
                  minLength: 80
                  maxLength: 150
                address5Text:
                  description: Address 5 Text
                  type: string
                  minLength: 80
                  maxLength: 150
                fax:
                  description: Fax
                  type: string
                  minLength: 10
                  maxLength: 100
                deliveryMethod:
                  description: Delivery Method
                  type: string
                  minLength: 10
                  maxLength: 100
                emailAddress:
                  description: Email Address
                  type: string
                  minLength: 3
                  maxLength: 320
                effectiveStartDate:
                  description: Effective Start Date
                  type: string
                  minLength: 10
                  maxLength: 10
                contactName:
                  description: Contact Name
                  type: string
                  minLength: 30
                  maxLength: 80
                groupSpecific:
                  description: Group Specific
                  type: boolean
                state:
                  description: State
                  type: string
                  minLength: 2
                  maxLength: 10
                countyName:
                  description: County Name
                  type: string
                  minLength: 2
                  maxLength: 100
                mobile:
                  description: Mobile Number
                  type: string
                  minLength: 10
                  maxLength: 15
        merchantHierarchies:
          description: Merchant Hierarchies
          type: array
          items:
              type: object
              properties:
                hierarchyLevelCode:
                  description: Hierarchy Level Code
                  type: string
                  minLength: 20
                  maxLength: 100
                hierarchyMerchantId:
                  description: Hierarchy Merchant Id
                  type: string
                  minLength: 8
                  maxLength: 100
        products:
          description: Merchant Products
          type: object
          properties:
            entitlements:
              description: Entitlements
              type: array
              items: 
                  type: object
                  properties: 
                    attributes:
                      description: Attributes
                      type: object
                      properties: 
                        entitlementAttr:
                          description: Entitlement Attribute
                          type: object
                          properties: 
                            assigned:
                              description: Assigned
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - assigned
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mcIntlEcomFeeInd:
                              description: Ecom Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - mcIntlEcomFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mcPifFeeInd:
                              description: Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - mcPifFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mcAbvFeeInd:
                              description: Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - mcAbvFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mcPaymentFacilitatorId:
                              description: Payment Facilitator ID
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - mcPaymentFacilitatorId
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mcISOId:
                              description: ISO ID
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - mcISOId
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mcCrossBorderFeeInd:
                              description: MC Cross Border Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - mcCrossBorderFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            viCrossBorderFeeInd:
                              description: VI Cross Border Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - viCrossBorderFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            viCanIasfFeeInd:
                              description: VI CanIasf Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - viCanIasfFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            viEuIntlEcomFeeInd:
                              description: VI Eu Intl Ecom Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - viEuIntlEcomFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            viEuIntlnonEcomFeeInd:
                              description: VI Eu Intl Non-Ecom Fee Indicator
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - viEuIntlnonEcomFeeInd
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            viPaymentFacilitatorId:
                              description: VI Payment Facilitator Id
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - viPaymentFacilitatorId
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            seNum:
                              description: SE Number
                              type: object
                              properties: 
                                values:
                                  description: Values for attribute - seNum
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            mccCode:
                              description: Merchant Category Code
                              type: object
                              properties: 
                                values:
                                  description: Card Brand Merchant Category Code values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            discountMethodCode:
                              description: Discount Method Code
                              type: object
                              properties: 
                                values:
                                  description: Discount Method Code values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - DM_DUMMY_ACCOUNT
                                          - RT_DISCOUNT_RATES
                                          - T2_TIERED_DISCOUNT
                                          - BAMS_DISCOUNT_OPTION_1
                                          - T10_TIERED_DISCOUNT
                                          - T13_TIERED_DISCOUNT
                                          - FISERV_DISCOUNT_OPTION
                                          - T9_TIERED_DISCOUNT
                                          - ML_DISCOUNT_OPTION_1
                                          - T1_TIERED_DISCOUNT
                                          - TIERED_DISCOUNT_43
                                          - T8_TIERED_DISCOUNT
                                          - T7_TIERED_DISCOUNT
                                          - T4_TIERED_DISCOUNT
                                          - WELLS_FLAT_RATE
                                          - T5_TIERED_DISCOUNT
                                          - T3_TIERED_DISCOUNT
                                          - ML_DISCOUNT_OPTION_2
                                          - ML_DISCOUNT_OPTION_7
                                          - T0_TIERED_DISCOUNT
                                          - GD_GRID
                                          - ML_DISCOUNT_OPTION_6
                                          - T12_TIERED_DISCOUNT
                                          - T6_TIERED_DISCOUNT
                                          - IP_INTERCHANGE_FEES
                                          - RF_PROCESSING_FEES
                                          - T11_TIERED_DISCOUNT
                                          - ML_DISCOUNT_OPTION_4
                                          - ML_DISCOUNT_OPTION_5
                            clearingPlanCode:
                              description: Clearing Plan Code
                              type: object
                              properties: 
                                values:
                                  description: clearingPlanCode values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            edcCode:
                              description: EDC Code
                              type: object
                              properties: 
                                values:
                                  description: Card brand EDC Code values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            effectiveDate:
                              description: Effective Date
                              type: object
                              properties: 
                                values:
                                  description: Entitlement contract date values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            floorLimitAmount:
                              description: Floor Limit Amount
                              type: object
                              properties: 
                                values:
                                  description: Entitlement floor limit amount values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: integer
                            pricingPlanCode:
                              description: Pricing Plan Code
                              type: object
                              properties: 
                                values:
                                  description: Entitlement Pricing Plan Code values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            serviceTypeCode:
                              description: Service Type Code
                              type: object
                              properties: 
                                values:
                                  description: Card Brand Service Type values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - NOT_ENTITLED
                                          - INFO_ONLY_SPLIT_DIAL
                                          - MEMO_POST
                                          - FULL_SERVICE
                                          - DEPOSIT_AND_AUTH_CAPTURE
                                          - AUTH_ONLY
                            signedVolumeAmount:
                              description: Signed Volume Amount
                              type: object
                              properties: 
                                values:
                                  description: Bank card signed sales volume amount at time of boarding enrollment values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: integer
                            serviceEstablishmentNumber:
                              description: Service Establishment Number
                              type: object
                              properties: 
                                values:
                                  description: Card Brand Service Establishment Number values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: integer
                            clovergoStatus:
                              description: Clover Go Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for Clover Go - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            clovergoOfferingType:
                              description: Clover Go Offering Type
                              type: object
                              properties: 
                                values:
                                  description: Offering Type for Clover Go - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - STANDARD_OFFERING
                            gyftStatus:
                              description: GYFT Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for GYFT - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            gyftBillingMethod:
                              description: GYFT Billing Method
                              type: object
                              properties: 
                                values:
                                  description: Billing Method for GYFT - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - VALUELINK
                                          - CLOVER
                            paypalEnblOfferingType:
                              description: Paypal Enablement Offering Type
                              type: object
                              properties: 
                                values:
                                  description: offering Type for Paypal Enablement for Discover - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - NOT_ELIGIBLE_ACQ_ON
                                          - ELIGIBLE
                            valuelinkSeNumber:
                              description: Value Link SE Number
                              type: object
                              properties: 
                                values:
                                  description: Value Link SE Number - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            paypalVenmoPayerId:
                              description: Paypal/Venmo Payer ID
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Payer ID - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            paypalVenmoLocationID:
                              description: Paypal/Venmo Location ID
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Location ID - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            paypalVenmoLatitude:
                              description: Paypal/Venmo Latitude
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Latitude for Merchant Location - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            paypalVenmoLongitude:
                              description: Paypal/Venmo Longitude
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Longitude for Merchant Location - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            paypalVenmoPayerIdStatus:
                              description: Paypal/Venmo Payer ID Status
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Payer ID Status - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - FAILED
                                          - INITIATED
                                          - PROVISIONED
                            paypalVenmoLocationIDStatus:
                              description: Paypal/Venmo Location ID Status
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Location ID Status - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - PENDING
                                          - OPTED_OUT
                                          - INITIATED
                                          - PROVISIONED
                                          - FAILED
                            paypalVenmoErrorMessage:
                              description: Paypal/Venmo Error Message
                              type: object
                              properties: 
                                values:
                                  description: Paypal/Venmo Error Message - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            bentoBoxStatus:
                              description: Bento Box Program Status
                              type: object
                              properties: 
                                values:
                                  description: Bento Box Program Status - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            interacFlashMVV:
                              description: Interac Flash MVV
                              type: object
                              properties: 
                                values:
                                  description: MVV for Interac Flash Entitlement - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                            interacFlashStatus:
                              description: Interac Flash Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for Interac Flash Entitlement - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            interacContactStatus:
                              description: Interac Contact Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for Interac Contact Entitlement - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - ACTIVE
                                          - CANCEL
                            interacInAppStatus:
                              description: Interac In App Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for Interac In App Entitlement - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            upiDebitStatus:
                              description: UPI Debit Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for UPI Debit Entitlement - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            upiCreditStatus:
                              description: UPI Credit Status
                              type: object
                              properties: 
                                values:
                                  description: Program Status for UPI Credit Entitlement - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CANCEL
                                          - ACTIVE
                            alipayOfferingType:
                              description: Alipay Offering Type
                              type: object
                              properties: 
                                values:
                                  description: Offering Type for Clover Go - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - ALIPAY_ELIGIBLE
                            chinaUnionOfferingType:
                              description: China Union Offering Type
                              type: object
                              properties: 
                                values:
                                  description: Offering Type for Clover Go - values
                                  type: array
                                  items: 
                                    type: object
                                    properties:
                                      0:
                                        type: string
                                        enum:
                                          - CUP_ELIGIBLE
            fees:
              description: Fees
              type: array
              items: 
                  type: object
                  properties: 
                    attributes:
                      description: Attributes
                      type: object
                      properties: 
                        feeAttr:
                          description: Fee Attribute
                          type: object
                          properties: 
                            processingInd:
                              description: Processing Indicator
[...]
