################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.2
info:
  title: Dev Portal Tenant APIs.
  description: To onboard properly into the Fiserv Developer Studio as a tenant each
    product must support these APIs so that we can retrieve product specific API specifications
    and documentation.
  version: 1.0.0
servers:
  - url: https://tenants.fiserv.com/
paths:
  /v1/products:
    get:
      tags:
        - Omni
      x-group-name: Omni
      x-proxy-name: products
      summary: Omni API.
      operationId: merchantID
      responses:
        200:
          description: Omni. <a href="https://fiserv.com" rel="noopener noreferrer" target="_blank">external link</a> <a href="../docs?path=docs/getting-started/setup-tenant/setup-tenant.md">Setup Tenant</a>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Omni'
            text/yaml:
              schema:
                $ref: '#/components/schemas/Omni'
            text/plain:
              schema:
                $ref: '#/components/schemas/Omni'
  
components:
  schemas:
    North:
      type: object
      properties:
        dbaName:
          type: string
          description: Do Business As Name for the merchant
          maxLength: 100
          minLength: 20
          example: 'TEST DBANAME'
        legalName:
          description: Legal Name for the merchant
          type: string
          maxLength: 100
          minLength: 3
          example: 'TEST LEGAL NAME'
        merchantBusinessInformation:
          description: Merchant Business Information
          type: object
          properties:
            legalEntityTypeCode:
              description: Legal Entity Type Code
              type: string
              minLength: 5
              maxLength: 10
              enum: 
                - PUBLIC_PRIVATE_CORP
                - INTERNATIONAL_ORG
                - TAX_EXEMPT_GOVERNMENT
                - ASSOCIATION_ESTATE_TRUST
                - OTHER
                - PROPRIETOR
                - PARTNERSHIP
                - LTD_LIABILITY_COMP
            registrationNumber:
              description: Registration Number
              type: string
              minLength: 20
              maxLength: 100
        languageCode:
          description: Language Code
          type: string
          enum: [Arabic, English, French]
        businessTypCode:
          description: Business Type Code
          type: string
          enum: [Retail, Moto_EComm]
        merchantAttributes:
          description: Merchant Attributes
          type: object
          properties:
            boardingAdditionalInfo:
              description: Boarding Additional Information
              type: object
              properties:
                accountOfficerId:
                  description: Account Officer ID
                  type: object
                  properties:
                    values:
                      description: Values for attribute - accountOfficerId
                      type: array
                      items:
                        type: string
            settlementConfig:
              description: Settlement Configuration
              type: object
              properties:
                settleFrequencyCode:
                  description: Settle Frequency Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - settleFrequencyCode
                      type: array
                      items:
                        type: string
                        enum:
                          - AT_SETTLEMENT
                          - DAILY_DISC
        owners:
          description: Owners
          type: object
          properties:
            ownerIdentificationDetails:
              description: Owner Identification Details
              type: object
              properties:
                identityDocTypeCode:
                  description: identity DocType Code
                  type: string
                  minLength: 3
                  maxLength: 10
                  example: "TIN"
                identityDocNumber:
                  description: Identity Doc Number
                  type: string
                  minLength: 20
                  maxLength: 50
        products:
          type: object
          properties:
            fees:
              type: array
              items: 
                  type: object
                  properties: 
                    productCode: 
                      type: string
                    retailAmountOrPercent: 
                      type: number
                    wholeSaleAmountOrPercent: 
                      type: number
                    attributes: 
                      type: object
                      properties: 
                        feeAttr: 
                          type: object
                          properties: 
                            domainDescription: 
                              type: string
                            processingInd: 
                              type: object
                              properties: 
                                attributeDescription: 
                                  type: string
                                values: 
                                  type: array
                                  items: 
                                    type: object
                                    properties: 
                                      0: 
                                        type: string
                            retailDate: 
                              type: object
                              properties: 
                                attributeDescription: 
                                  type: string
                                values: 
                                  type: array
                                  items: 
                                    type: object
                                    properties: 
                                      0: 
                                        type: string
                            wholesaleDate: 
                              type: object
                              properties: 
                                attributeDescription: 
                                  type: string
                                values: 
                                  type: array
                                  items: 
                                    type: object
                                    properties: 
                                      0: 
                                        type: string
                            frequencyInd: 
                              type: object
                              properties: 
                                attributeDescription: 
                                  type: string
                                values: 
                                  type: array
                                  items: 
                                    type: object
                                    properties: 
                                      0: 
                                        type: string  
    Omni:
      type: object
      properties:
        dbaName:
          type: string
          description: Do Business As Name for the merchant
          maxLength: 100
          minLength: 20
          example: 'TEST DBANAME'
        legalName:
          type: string
          description: Legal Name for the merchant
          maxLength: 100
          minLength: 3
          example: 'TEST LEGAL NAME'
        merchantBusinessInformation:
          description: Merchant Business Information
          type: object
          properties:
            legalEntityTypeCode:
              description: Legal Entity Type Code
              type: string
              minLength: 3
              maxLength: 3
              enum: 
                - JOINT_STOCK
                - LEGAL_FORM
                - PARTNERSHIP
                - CHARITY
                - LLC
                - ASSOCIATIONS
                - NA
                - LIMITED_PARTNERS
                - PUBLIC_COMPANY
                - NONPROFITCOMPANY
                - PROPRIETORSHIP
                - NON_PROFIT_ORG
                - OTHER
                - GENERAL_PARTNERS
                - EXTERNAL_COMPANY
                - CORPORATION
                - PRIVATE_COMPANY
                - SOLE_TRADER
            registrationNumber:
              description: Registration Number
              type: string
              minLength: 0
              maxLength: 15
        languageCode:
          description: Language Code
          type: string
          enum: [Arabic, English, French, Spanish, Swedish]
        businessTypCode:
          description: Business Type Code
          type: string
          enum: [Retail, Moto_EComm, Both]
        merchantAttributes:
          description: Merchant Attributes
          type: object
          properties:
            boardingAdditionalInfo:
              description: Boarding Additional Information
              type: object
              properties:
                accountOfficerId:
                  description: Account Officer ID
                  type: object
                  properties:
                    values:
                      description: Values for attribute - accountOfficerId
                      type: array
                      items:
                        type: string
            settlementConfig:
              description: Settlement Configuration
              type: object
              properties:
                settleFrequencyCode:
                  description: Settle Frequency Code
                  type: object
                  properties:
                    values:
                      description: Values for attribute - settleFrequencyCode
                      type: array
                      items:
                        type: string
                        enum:
                          - DE_DAILY
                          - IFS_DAILY
                          - IFS_TREASURY
                          - IFS_DAILY_NEG
                          - DAILY_CUP
                          - DE_DAILY_CUP
                          - IFS_MONTHLY_NEG
                          - IFS_DAILY_CUP
                          - IFS_DAILY_NEG_CUP
                          - DAILY
        owners:
          description: Owners
          type: object
          properties:
            ownerIdentificationDetails:
              description: Owner Identification Details
              type: object
              properties:
                identityDocTypeCode:
                  description: identity DocType Code
                  type: string
                  minLength: 3
                  maxLength: 10
                identityDocNumber:
                  description: Identity Doc Number
                  type: string
                  minLength: 20
                  maxLength: 50
        products:
          description: Products
          type: object
          properties:
            fees:
              description: Fees
              type: array
              items:
                type: object 
                properties:
                  attributes: 
                      type: object
                      properties: 
                        feeAttr: 
                          type: object
                          properties: 
                            domainDescription: 
                              type: string
                            processingInd: 
                              type: object
                              properties: 
                                attributeDescription: 
                                  type: string
                                values: 
                                  type: array
                                  items: 
                                    type: object
                                    properties: 
                                      0: 
                                        type: string
  responses:
    apiSpecResponseWrapper:
      description: OpenAPI Spec for the APIs. 
      content: {}
    docsResponseWrapper:
      description: Markdown files.
      content: {}
    liveResponse:
      description: Health check.
      content:
        application/json: 
          schema:
            $ref: '#/components/schemas/North'
        text/yaml:
          schema:
            $ref: '#/components/schemas/North'
        text/plain:
          schema:
            $ref: '#/components/schemas/North'
    productPage:
      description: This text will appear as description of your response body. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Omni'
        text/yaml:
          schema:
            $ref: '#/components/schemas/Omni'
        text/plain:
          schema:
            $ref: '#/components/schemas/Omni'
    tenant:
      description: This text will appear as description of your response body. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Omni'
        text/yaml:
          schema:
            $ref: '#/components/schemas/Omni'
        text/plain:
          schema:
            $ref: '#/components/schemas/Omni'
  securitySchemes:
    basic:
      type: http
      scheme: basic
